Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-02, with the labels that each got.

#1821 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1818 Add KafkaSource dispatcher StatefulSet manifest
  data-plane/config/sourcev2/500-dispatcher.yaml
Labels: approved, lgtm, size/L, area/data-plane

#1820 Adding Consumer Controller for for ConsumerGroup scaling
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumer/controller_test.go
Labels: approved, lgtm, size/L, area/control-plane

#1824 Revert channel parts of #1720
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/fake/fake.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/subscription.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#1823 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L, ok-to-test

#1832 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1833 Show error in Broker and Channel status when resolving sink fails
  control-plane/pkg/reconciler/base/receiver_condition_set.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
Labels: approved, lgtm, size/S, kind/enhancement, area/control-plane

#1825 Run channel Rekt tests
  .github/workflows/kind-e2e.yaml
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/control-plane, area/test

#1840 [1.0] Fix Upgrade and reconciler tests
  test/reconciler-tests.sh
  test/upgrade-tests.sh
Labels: approved, size/XS, lgtm, area/test

#1803 Fix release: artifact to publish type
  hack/release.sh
Labels: approved, size/XS, lgtm

#1790 Fix KafkaSink upgrade test names
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
Labels: approved, size/XS, lgtm, area/test

#1819 Add scheduler and de-scheduler configuration
  control-plane/config/200-controller/100-config-kafka-descheduler.yaml
  control-plane/config/200-controller/100-config-kafka-scheduler.yaml
Labels: approved, lgtm, size/L, area/control-plane

#1796 Add Pod webhook to inject contract ConfigMap for scheduling
  control-plane/cmd/webhook-kafka/main.go
  control-plane/config/200-webhook/400-webhook-defaulting.yaml
  control-plane/pkg/apis/core/pod_defaulting.go
  control-plane/pkg/apis/core/pod_defaulting_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
Labels: approved, lgtm, size/XL, area/control-plane

#1842 Manual upgrade to latest dependencies
  control-plane/pkg/reconciler/source/source_test.go
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/test/e2e-tests.sh
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/inmemorychannel.go
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/shell/project.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
  vendor/knative.dev/pkg/test/upgrade/functions.go
  vendor/knative.dev/pkg/test/upgrade/logger.go
  vendor/knative.dev/pkg/test/upgrade/private_types.go
  vendor/knative.dev/pkg/test/upgrade/steps.go
  vendor/knative.dev/pkg/test/upgrade/suite_execution.go
  vendor/knative.dev/pkg/test/upgrade/types.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/user_info.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#1811 TestBrokerDeletedRecreated deletes the broker only
  test/e2e_new/features/broker_deleted_recreated.go
  test/e2e_new/features/featuressteps/broker.go
Labels: approved, lgtm, size/S, area/test

#1844 Fix leader election configuration
  control-plane/config/200-controller/100-config-kafka-leader-election.yaml
  control-plane/config/200-controller/500-controller.yaml
  control-plane/config/200-webhook/500-webhook.yaml
  hack/update-checksums.sh
Labels: approved, size/M, lgtm, area/control-plane

#1857 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1856 Use constant in consumer reconciler to get pod's CM name
  control-plane/pkg/reconciler/consumer/consumer.go
Labels: approved, size/XS, lgtm, area/control-plane

#1851 Add permissions to controller for scheduling resources
  control-plane/config/200-controller/200-controller-cluster-role.yaml
Labels: approved, size/M, lgtm, area/control-plane

#1853 Remove unnecessary pointer to evictor.evict method
  control-plane/pkg/reconciler/consumergroup/evictor.go
Labels: approved, size/XS, lgtm, area/control-plane

#1854 Check if ConfigMap.BinaryData is nil in base reconciler
  control-plane/pkg/reconciler/base/reconciler.go
Labels: approved, size/XS, lgtm, area/control-plane

#1850 Consumer: check if pod is running after creating ConfigMap
  control-plane/pkg/reconciler/consumer/consumer.go
Labels: approved, lgtm, size/S, area/control-plane

#1852 Fix KafkaSource v2 controller handlers
  control-plane/pkg/reconciler/source/v2/controllerv2.go
Labels: approved, size/XS, lgtm, area/control-plane

#1855 Propagate Consumers status to ConsumerGroup
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, lgtm, size/L, area/control-plane

#1858 Fix KafkaChannel tests
  .github/workflows/kind-e2e.yaml
  test/channel-tests.sh
  test/e2e-common.sh
  test/e2e-tests.sh
  test/kafka/kafka_setup.sh
  test/reconciler-tests.sh
Labels: approved, size/M, lgtm, area/test

#1877 Use default logger configuration
  test/upgrade/upgrade_test.go
Labels: approved, lgtm, size/S, area/test

#1880 Use Git patches for pkg issue and E2E tests failures
  hack/patches/defaulting-webhook-queue-name.patch
  hack/update-deps.sh
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/controller.go
Labels: approved, lgtm, size/S

#1876 Run reconciler tests for KafkaChannel properly
  test/channel-e2e-tests.sh
  test/channel-reconciler-tests.sh
  test/e2e-tests.sh
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/test

#1868 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1805 Do not delete finalizer until the probe returns status not ready
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  test/upgrade-tests.sh
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1878 Handle ConsumerGroup spec update
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/source/v2/sourcev2.go
  control-plane/pkg/reconciler/source/v2/sourcev2_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/testing/objects_source.go
Labels: approved, lgtm, size/L, area/control-plane

#1882 [updates] combined PR for data plane dependency bumps
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, size/M, lgtm, area/data-plane

#1845 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1859 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1881 Upgrade async-profiler to 2.6
  data-plane/profiler/run.sh
Labels: approved, size/XS, lgtm, area/data-plane

#1740 Align dispatcher metrics to Eventing core filter metrics
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ConsumerRecordContext.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResourceContext.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseFailureException.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/AbstractConsumerVerticleTest.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/handler/IngressRequestHandlerImpl.java
Labels: approved, lgtm, size/XL, area/data-plane

#1808 [main] Update actions
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
Labels: approved, size/M, lgtm, area/test

#1889 Add KafkaSource migration logic as a post-install job
  .gitignore
  control-plane/cmd/post-install/kafka_source_migrator.go
  control-plane/cmd/post-install/main.go
  control-plane/config/100-channel/100-kafka-channel.yaml
  control-plane/config/100-source/100-kafka-source.yaml
  control-plane/config/eventing-kafka-broker/100-broker/100-kafka-broker-configmap.yaml
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel-configmap.yaml
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/config/eventing-kafka-broker/100-kafka-internal/100-consumer.yaml
  control-plane/config/eventing-kafka-broker/100-kafka-internal/100-consumergroup.yaml
  control-plane/config/eventing-kafka-broker/100-sink/100-kafka-sink.yaml
  control-plane/config/eventing-kafka-broker/100-source/100-kafka-source.yaml
  control-plane/config/eventing-kafka-broker/100-source/200-sources-observer-aggregated-clusterrole.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-descheduler.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-leader-election.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-scheduler.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-logging.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-tracing.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-addressable-resolver-cluster-role.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-channelable-manipulator-clusterrole.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-service-account.yaml
  control-plane/config/eventing-kafka-broker/200-controller/201-controller-cluster-role-binding.yaml
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/100-webhook-cluster-role.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/100-webhook-service-account.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/200-webhook-cluster-role-binding.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-defaulting.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-secret.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-validation.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/500-webhook.yaml
  control-plane/config/post-install/200-controller-cluster-role.yaml
  control-plane/config/post-install/200-controller-service-account.yaml
  control-plane/config/post-install/201-controller-cluster-role-binding.yaml
  control-plane/config/post-install/500-post-install-job.yaml
  hack/artifacts-env.sh
  hack/control-plane.sh
  hack/update-checksums.sh
  test/e2e-common.sh
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1905 KafkaChannel: check for empty subscriber URI
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
Labels: approved, size/M, lgtm, area/control-plane

#1907 [release-1.2] Bring PKG fix 2415 in manually
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/test/e2e-tests.sh
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#1901 Add Consumer reply validation
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_validation.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/source/v2/sourcev2.go
  control-plane/pkg/reconciler/source/v2/sourcev2_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
Labels: approved, lgtm, size/L, area/control-plane

#1906 Simulate dispatch latency during unit tests
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
Labels: approved, lgtm, size/S, area/data-plane

#1896 Delete global resources during KafkaSource migration
  control-plane/cmd/post-install/kafka_source_deleter.go
  control-plane/cmd/post-install/main.go
  control-plane/config/post-install/200-controller-cluster-role.yaml
  control-plane/config/post-install/500-post-install-job.yaml
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1888 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1914 Add expected status to prober
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/prober/prober_test.go
  control-plane/pkg/prober/probertesting/mock_prober.go
  control-plane/pkg/prober/probertesting/mock_prober_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
Labels: approved, size/M, lgtm, area/control-plane

#1904 [release-1.2] Add post-install job
  .gitignore
  control-plane/cmd/post-install/kafka_source_deleter.go
  control-plane/cmd/post-install/kafka_source_migrator.go
  control-plane/cmd/post-install/main.go
  control-plane/config/100-channel/100-kafka-channel.yaml
  control-plane/config/100-source/100-kafka-source.yaml
  control-plane/config/eventing-kafka-broker/100-broker/100-kafka-broker-configmap.yaml
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel-configmap.yaml
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/config/eventing-kafka-broker/100-kafka-internal/100-consumer.yaml
  control-plane/config/eventing-kafka-broker/100-kafka-internal/100-consumergroup.yaml
  control-plane/config/eventing-kafka-broker/100-sink/100-kafka-sink.yaml
  control-plane/config/eventing-kafka-broker/100-source/100-kafka-source.yaml
  control-plane/config/eventing-kafka-broker/100-source/200-sources-observer-aggregated-clusterrole.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-leader-election.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-logging.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-tracing.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-addressable-resolver-cluster-role.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-channelable-manipulator-clusterrole.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-service-account.yaml
  control-plane/config/eventing-kafka-broker/200-controller/201-controller-cluster-role-binding.yaml
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/100-webhook-cluster-role.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/100-webhook-service-account.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/200-webhook-cluster-role-binding.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-defaulting.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-secret.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-validation.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/500-webhook.yaml
  control-plane/config/post-install/200-controller-cluster-role.yaml
  control-plane/config/post-install/200-controller-service-account.yaml
  control-plane/config/post-install/201-controller-cluster-role-binding.yaml
  control-plane/config/post-install/500-post-install-job.yaml
  hack/artifacts-env.sh
  hack/control-plane.sh
  hack/release.sh
  hack/update-checksums.sh
  test/e2e-common.sh
Labels: approved, lgtm, size/XL, area/control-plane, area/test

#1900 Add Consumer reconciler tests
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/testing/objects_source.go
Labels: approved, lgtm, size/XL, area/control-plane

#1894 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1915 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1921 Introducing dialected-filters to the contract for supporting new-trigger-filters experimental feature
  control-plane/pkg/contract/contract.pb.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  proto/contract.proto
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane

#1920 Fix for no label selector in cg causing reusing consumer between kafkasource and trigger objects
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/reconciler/source/v2/sourcev2.go
  control-plane/pkg/reconciler/source/v2/sourcev2_test.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
Labels: approved, size/M, lgtm, area/control-plane

#1926 Fix for new pods stuck in ContainerCreating state due to missing CM volume mount
  data-plane/config/sourcev2/500-dispatcher.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#1618 KafkaChannel Reconciler for ConsumerGroup scaling
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2_test.go
Labels: approved, lgtm, size/XXL, area/control-plane

#1931 Cluster role in controller for consumer deletion update
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#1934 Remove post-install manifest if present to avoid duplicate content
  hack/release.sh
Labels: approved, size/XS, lgtm

#1932 Consumer reconciler sets ConfigMap owner reference to dispatcher pod
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
Labels: approved, size/M, lgtm, area/control-plane

#1928 Evictor fix for patching consumergroup when removing evicted pod placement
  control-plane/pkg/reconciler/consumergroup/evictor.go
  control-plane/pkg/reconciler/consumergroup/evictor_test.go
Labels: approved, size/M, lgtm, area/control-plane

#1918 [main] Update actions
  .github/workflows/knative-style.yaml
Labels: approved, size/XS, lgtm, area/test

#1938 Adding non-empty ApiVersion and Kind values for CM ownerref (Consumer)
  control-plane/pkg/reconciler/consumer/consumer.go
Labels: approved, size/XS, lgtm, area/control-plane

#1936 [main] Update actions
  .github/workflows/knative-style.yaml
Labels: approved, size/XS, lgtm, area/test

#1945 Fix class cast exception
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseFailureException.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
Labels: approved, lgtm, size/S, area/data-plane, kind/bug

#1941 New statefulset dispatcher yamls for trigger and channel
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
Labels: approved, lgtm, size/L, area/data-plane

#1947 Adding KafkaSource to test teardown script
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#1929 Consumer Scheduling and Scaling KafkaChannel fixes
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
Labels: approved, size/M, lgtm, area/control-plane
