Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-08, with the labels that each got.

#2435 Restructure e2e tests for future cases
  .github/workflows/kind-e2e.yaml
  test/e2e-tests.sh
  test/e2e_broker/broker_event_trasformation_test.go
  test/e2e_broker/broker_redelivery_test.go
  test/e2e_broker/broker_sasl_ssl_test.go
  test/e2e_broker/broker_trigger_sink_test.go
  test/e2e_broker/broker_trigger_test.go
  test/e2e_broker/broker_with_many_triggers_test.go
  test/e2e_broker/conformance/control_plane_conformance_test.go
  test/e2e_broker/conformance/main_test.go
  test/e2e_broker/main_test.go
  test/e2e_sink/kafka_sink.go
  test/e2e_sink/kafka_sink_test.go
  test/e2e_sink/main_test.go
  test/e2e_source/kafka_source_test.go
  test/e2e_source/main_test.go
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
Labels: approved, lgtm, size/L, area/test

#2369 Tracing tests for Kafka Broker and Channel
  go.mod
  test/e2e_new/main_test.go
  test/e2e_new/tracing_test.go
  test/e2e_new_channel/main_test.go
  test/e2e_new_channel/tracing_test.go
  test/pkg/tracing/tracing.go
  test/pkg/tracing/zipkin.go
  third_party/VENDOR-LICENSE/go.opentelemetry.io/otel/LICENSE
  third_party/VENDOR-LICENSE/go.opentelemetry.io/otel/trace/LICENSE
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.go
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/test

#2442 Pass broker class to e2e tests
  .github/workflows/kind-e2e.yaml
  test/e2e-tests.sh
  test/e2e/conformance/data_plane_conformance_test.go
  test/e2e_broker/broker_redelivery_test.go
  test/e2e_broker/broker_sasl_ssl_test.go
  test/e2e_broker/broker_trigger_sink_test.go
  test/e2e_broker/broker_trigger_test.go
  test/e2e_broker/conformance/control_plane_conformance_test.go
  test/pkg/broker/broker.go
  test/upgrade-tests.sh
Labels: approved, size/M, lgtm, area/test

#2454 [release-1.5] Tracing tests for Kafka Broker
  go.mod
  go.sum
  test/e2e_new/main_test.go
  test/e2e_new/tracing_test.go
  test/e2e_new_channel/main_test.go
  test/e2e_new_channel/tracing_test.go
  test/pkg/tracing/tracing.go
  test/pkg/tracing/zipkin.go
  third_party/VENDOR-LICENSE/go.opentelemetry.io/otel/LICENSE
  third_party/VENDOR-LICENSE/go.opentelemetry.io/otel/trace/LICENSE
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/doc.go
  vendor/github.com/imdario/mergo/go.mod
  vendor/github.com/imdario/mergo/go.sum
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
  vendor/github.com/klauspost/compress/.gitignore
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/go.mod
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/internal/cpuinfo/cpuinfo.go
  vendor/github.com/klauspost/compress/internal/cpuinfo/cpuinfo_amd64.go
  vendor/github.com/klauspost/compress/internal/cpuinfo/cpuinfo_amd64.s
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder.go
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/zip.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/knative.dev/eventing-kafka/pkg/common/kafka/offset/offsets.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/test/conformance/helpers/channel_tracing_test_helper.go
  vendor/knative.dev/eventing/test/conformance/helpers/tracing/traces.go
  vendor/knative.dev/eventing/test/conformance/helpers/tracing/zipkin.go
  vendor/knative.dev/eventing/test/conformance/helpers/tracing_test_helper.go
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.go
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/test

#2443 Separate GH actions definition files for components
  .github/workflows/kind-e2e.yaml
Labels: approved, size/M, lgtm, area/test

#2456 Reduce default max.poll.records and max.partition.fetch.bytes
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
  data-plane/config/source/100-config-kafka-source-data-plane.yaml
Labels: approved, lgtm, size/S, area/data-plane

#2452 Align backoff delay to old source
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
Labels: approved, lgtm, size/S, area/control-plane

#2453 Add TODO for max pool size override
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, size/XS, lgtm, area/data-plane

#2457 Fix flaky processing latency assertion
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
Labels: approved, size/XS, lgtm, area/data-plane

#2464 [release-1.6] Reduce default max.poll.records and max.partition.fetch.bytes (#2456)
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
  data-plane/config/source/100-config-kafka-source-data-plane.yaml
Labels: approved, lgtm, size/S, area/data-plane

#2451 Pass broker class to reconciler tests
  test/e2e_new/broker_conformance_test.go
  test/e2e_new/broker_delete_config_map_test.go
  test/e2e_new/broker_not_ready_test.go
  test/e2e_new/dls_test.go
  test/e2e_new/main_test.go
  test/e2e_new/ordered_test.go
  test/e2e_new/tracing_test.go
  test/reconciler-tests.sh
Labels: approved, size/M, lgtm, area/test

#2466 Fix KafkaSink structured content mode
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/testing/objects_sink.go
Labels: approved, size/M, lgtm, area/control-plane

#2468 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2462 Ignore trailing slashes for path-based routing
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStoreTest.java
Labels: approved, lgtm, size/S, area/data-plane

#2470 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2433 Fix profiler job
  data-plane/profiler/run.sh
Labels: approved, size/XS, lgtm, area/data-plane

#2404 Test delivery timeout
  test/config/100-config-experimental-features.yaml
  test/experimental/delivery_timeout_test.go
  test/experimental/features_config/features.yaml
  test/experimental/main_test.go
  vendor/knative.dev/eventing/test/experimental/features/delivery_timeout/channel.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/test

#2471 Fix upgrade test flakiness
  test/upgrade/continual/channel-config.toml
  test/upgrade/continual/kafka-broker-config.toml
  test/upgrade/continual/kafka-sink-source-config.toml
Labels: approved, lgtm, size/S, area/test

#2484 Retry webhook EOF errors
  test/scripts/first-event-delay.sh
Labels: approved, size/XS, lgtm, area/test

#2478 Create namespaced broker dataplane based on the regular broker dataplane
  control-plane/cmd/kafka-controller/kodata/dataplane/config/broker/100-config-kafka-broker-data-plane.yaml
  control-plane/cmd/kafka-controller/kodata/dataplane/config/broker/200-broker-data-plane-service-account.yaml
  control-plane/cmd/kafka-controller/kodata/dataplane/config/broker/201-broker-data-plane-role-binding.yaml
  control-plane/cmd/kafka-controller/kodata/dataplane/config/broker/500-dispatcher.yaml
  control-plane/cmd/kafka-controller/kodata/dataplane/config/broker/500-receiver.yaml
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/pkg/config/env_config.go
  control-plane/pkg/kafka/label.go
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/broker/testdata/namespaceddataplane/broker
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  hack/control-plane.sh
  test/e2e-tests.sh
  test/e2e/sacura_test.go
  test/reconciler-tests.sh
  test/upgrade-tests.sh
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/deployment/deployment.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane, area/test

#2495 Fix ownerRef cannot be set on resources you cannot delete
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2500 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2421 SendN sends events in a common t.Run
  test/pkg/addressable/send.go
Labels: approved, size/M, lgtm, area/test

#2509 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2510 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: size/XS, area/test, skip-review

#2513 Honor prow job environment variable for chaosduck enablement
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#2420 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/network/handlers/drain.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/setup.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2497 Propagate non-ready consumers top level condition in ConsumerGroup
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
Labels: approved, lgtm, size/L, area/control-plane

#2410 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2516 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/lib/test_runner.go
  vendor/knative.dev/pkg/network/handlers/drain.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2515 [release-1.6] Tracing tests for Kafka Broker
  go.mod
  go.sum
  test/e2e/sacura_test.go
  test/e2e_new/main_test.go
  test/e2e_new/tracing_test.go
  test/e2e_new_channel/main_test.go
  test/e2e_new_channel/tracing_test.go
  test/pkg/tracing/tracing.go
  test/pkg/tracing/zipkin.go
  third_party/VENDOR-LICENSE/go.opentelemetry.io/otel/LICENSE
  third_party/VENDOR-LICENSE/go.opentelemetry.io/otel/trace/LICENSE
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.go
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/test

#2521 Better handle error response on WebClientCloudEventSender
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
  test/e2e_new/dls_test.go
Labels: approved, lgtm, size/L, area/data-plane, area/test

#2529 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#2493 Enable namespaced broker controller
  .github/workflows/kind-e2e.yaml
  control-plane/cmd/kafka-controller/main.go
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  test/e2e-tests.sh
  test/reconciler-tests.sh
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/serviceaccount/serviceaccount.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/clusterrolebinding/clusterrolebinding.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/control-plane, area/test

#2533 [release-1.6] Better handle error response
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
Labels: approved, size/M, lgtm, area/data-plane

#2534 Enable the tests that got commented out, by accident
  test/e2e_new/dls_test.go
Labels: approved, size/XS, lgtm, area/test

#2541 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2523 `pod.Status.Phase == apiv1.PodRunning` is not a good way to test if pods are Running
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/base/reconciler_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  control-plane/pkg/reconciler/testing/objects_sink.go
  control-plane/pkg/reconciler/testing/objects_source.go
Labels: approved, size/M, lgtm, area/control-plane

#2374 Knative error extensions
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
  test/e2e_new/dls_extensions_test.go
Labels: approved, lgtm, size/XL, ok-to-test, area/data-plane, area/test

#2550 [release-1.6] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/eventshub/event_info_store.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/options.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/receiver/receiver.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2552 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2554 Disable namespaced KafkaBroker
  .github/workflows/kind-e2e.yaml
  control-plane/cmd/kafka-controller/main.go
  test/e2e-tests.sh
  test/reconciler-tests.sh
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2559 Lets see if that makes PROW release job happy
  test/e2e-tests.sh
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/test

#2557 Move creation of secrets for tests to test/e2e-common.sh
  test/e2e-common.sh
  test/kafka/kafka_setup.sh
Labels: approved, lgtm, size/L, area/test

#2561 Set TerminationMessagePolicy=FallbackToLogsOnError in a test image
  test/pkg/kafka/verify_num_partitions_replication.go
Labels: approved, size/XS, lgtm, area/test

#2560 [main] Lets see if that makes PROW release job happy
  test/e2e-tests.sh
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/test

#2575 nit: Remove a todo, there is no reasonable constant
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/XS, lgtm, area/control-plane

#2576 nit: refactoring: Move code that stores Broker Configmap on status annotation to a separate function
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, lgtm, size/S, area/control-plane

#2583 nit: Reword misleading error message
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
Labels: approved, size/XS, lgtm, area/control-plane

#2409 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm
