Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-11, with the labels that each got.

#2764 Metadata resource version empty fix for new Keda resources
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, size/XS, lgtm, area/control-plane

#2769 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2770 Run hack/update-codegen.sh with Go 1.19
  control-plane/pkg/client/clientset/versioned/fake/register.go
  control-plane/pkg/client/clientset/versioned/scheme/register.go
  control-plane/pkg/client/internals/kafka/clientset/versioned/fake/register.go
  control-plane/pkg/client/internals/kafka/clientset/versioned/scheme/register.go
  control-plane/pkg/contract/subscriptionsapi.go
  control-plane/pkg/kafka/consumer_group_lag_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/security/secret_test.go
  test/e2e_broker/broker_trigger_sink_test.go
  test/e2e_new_channel/kafka_channel_upstream_test.go
  third_party/pkg/client/clientset/versioned/fake/register.go
  third_party/pkg/client/clientset/versioned/scheme/register.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2760 Updates to use secret data (sasl and tls) from `auth.secret.ref.namespace` for Triggerv2 and Channelv2
  control-plane/pkg/keda/keda.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  control-plane/pkg/security/config.go
Labels: approved, lgtm, size/L, area/control-plane

#2775 Fix for using namespace of the broker instead of status annotation namespace
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  control-plane/pkg/security/config.go
Labels: approved, lgtm, size/S, area/control-plane

#2763 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/pkg/apis/duck/v1alpha1/legacy_targetable_types.go
  vendor/knative.dev/pkg/apis/duck/verify.go
  vendor/knative.dev/pkg/apis/testing/fuzzer/fuzzer.go
  vendor/knative.dev/pkg/changeset/commit.go
  vendor/knative.dev/pkg/client/injection/kube/client/client.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/client.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/comment_parser.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/packages.go
  vendor/knative.dev/pkg/configmap/doc.go
  vendor/knative.dev/pkg/configmap/store.go
  vendor/knative.dev/pkg/hash/doc.go
  vendor/knative.dev/pkg/injection/doc.go
  vendor/knative.dev/pkg/injection/injection.go
  vendor/knative.dev/pkg/logging/object_encoders.go
  vendor/knative.dev/pkg/metrics/prometheus_exporter.go
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/handlers/error.go
  vendor/knative.dev/pkg/profiling/server.go
  vendor/knative.dev/pkg/reconciler/retry.go
  vendor/knative.dev/pkg/reconciler/testing/hooks.go
  vendor/knative.dev/pkg/reconciler/testing/reactions.go
  vendor/knative.dev/pkg/reconciler/testing/sorter.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/knative.dev/pkg/test/gcs/gcs.go
  vendor/knative.dev/pkg/test/ingress/ingress.go
  vendor/knative.dev/pkg/test/security/security.go
  vendor/knative.dev/pkg/test/zipkin/doc.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/zipkin.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/resources.go
  vendor/knative.dev/reconciler-test/pkg/k8s/pod.go
  vendor/knative.dev/reconciler-test/pkg/manifest/options.go
  vendor/knative.dev/reconciler-test/pkg/manifest/yaml.go
  vendor/knative.dev/reconciler-test/pkg/milestone/emitter.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane

#2779 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2781 Add information about local registry in development docs
  DEVELOPMENT.md
Labels: approved, lgtm, needs-ok-to-test, size/S

#2749 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2782 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_proto.go
  vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  vendor/k8s.io/gengo/examples/set-gen/generators/sets.go
  vendor/k8s.io/gengo/examples/set-gen/sets/byte.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int64.go
  vendor/k8s.io/gengo/examples/set-gen/sets/string.go
  vendor/k8s.io/gengo/generator/import_tracker.go
  vendor/k8s.io/gengo/namer/import_tracker.go
  vendor/k8s.io/klog/v2/contextual.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues.go
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/utils/net/port.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#2784 Source env cleanup
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-features.yaml
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/config/eventing-kafka-source/200-controller/500-controller.yaml
Labels: approved, size/M, lgtm, area/control-plane

#2789 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2788 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/feature/flag_names.go
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/subscription_validation.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2791 Fix linter issues about deprecated pointer.XYZPtr() functions
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_types_test.go
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_validation_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_defaults.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_defaults_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation_test.go
  control-plane/pkg/core/config/utils_test.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/testing/objects_sink.go
  control-plane/pkg/reconciler/testing/objects_source.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  test/e2e/delete_cm_test.go
  test/e2e/sacura_test.go
  test/e2e_broker/broker_redelivery_test.go
  test/e2e_broker/broker_trigger_sink_test.go
  test/e2e_new/features/featuressteps/broker.go
  test/e2e_sink/kafka_sink.go
  test/e2e_sink/kafka_sink_test.go
  test/pkg/kafka/verify_committed_offset.go
  test/pkg/kafka/verify_consumer_group_lag.go
  test/pkg/kafka/verify_messages_topic.go
  test/pkg/kafka/verify_num_partitions_replication.go
  test/upgrade/continual/broker.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2792 Update k8s version for kind to 1.25.3
  .github/workflows/kind-e2e.yaml
  hack/create-kind-cluster.sh
Labels: approved, lgtm, size/S, area/test

#2794 Remove ko usage for sacura tests
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#2797 Decouple autoscaling annotations from KEDA
  control-plane/pkg/autoscaler/autoscaler_api.go
  control-plane/pkg/autoscaler/keda/keda.go
  control-plane/pkg/autoscaler/keda/resources.go
  control-plane/pkg/keda/annotations.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
Labels: approved, lgtm, size/L, area/control-plane

#2793 Retry Only If the Status Code Is Retryable
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
Labels: approved, size/M, lgtm, ok-to-test, area/data-plane

#2802 Return "nil" saslType if not present for Auth
  control-plane/pkg/autoscaler/keda/keda.go
Labels: approved, size/XS, lgtm, area/control-plane

#2773 Create contract ConfigMaps in ConsumerGroup reconciler
  control-plane/pkg/apis/core/pod_defaulting.go
  control-plane/pkg/apis/internals/kafka/eventing/data_plane.go
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
Labels: approved, lgtm, size/L, area/control-plane

#2803 Avoid removing AuthSpec for compatibility
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
Labels: approved, size/XS, lgtm, area/control-plane

#2806 [release-1.8] Create contract ConfigMaps in ConsumerGroup reconciler (#2773)
  control-plane/pkg/apis/core/pod_defaulting.go
  control-plane/pkg/apis/internals/kafka/eventing/data_plane.go
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
Labels: approved, lgtm, size/L, area/control-plane

#2767 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2787 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2811 Configurable default values for autoscaler
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-autoscaler.yaml
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/config/eventing-kafka-source/200-controller/100-config-kafka-autoscaler.yaml
  control-plane/config/eventing-kafka-source/200-controller/500-controller.yaml
  control-plane/pkg/autoscaler/config.go
  control-plane/pkg/autoscaler/keda/keda.go
  control-plane/pkg/autoscaler/keda/resources.go
  control-plane/pkg/reconciler/consumergroup/autoscaler_config.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
Labels: approved, lgtm, size/L, area/control-plane
