Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-07, with the labels that each got.

#2366 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2346 Adding finalizer for auth secret
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
Labels: approved, lgtm, size/L, area/control-plane

#2371 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2358 [Prefactoring] Recompute broker `IngressHost` every time - needed for future dynamic dataplanes
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
Labels: approved, lgtm, size/S, area/control-plane

#2343 Use HTTP for readinessProbe
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/source/500-dispatcher.yaml
Labels: approved, lgtm, size/S, area/data-plane

#2363 Setting memory parameters for containers since default is low
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/source/500-dispatcher.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#2347 Fix high memory usage for dispatcher pods
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  data-plane/THIRD-PARTY.txt
  data-plane/dispatcher/pom.xml
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImplTest.java
  data-plane/pom.xml
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane

#2388 [Consumer] Updates for feature flag config map watching
  control-plane/cmd/kafka-controller/main.go
  control-plane/cmd/kafka-source-controller/main.go
  control-plane/config/eventing-kafka-source/200-controller/100-config-kafka-features.yaml
  control-plane/pkg/apis/config/features_test.go
  control-plane/pkg/apis/config/testdata/config-kafka-features.yaml
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumer/controller_test.go
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/apis/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/client/injection/apiextensions/client/client.go
  vendor/knative.dev/pkg/client/injection/apiextensions/client/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/addressable/addressable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/addressable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/client/client.go
  vendor/knative.dev/pkg/client/injection/kube/client/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/admissionregistration/v1/mutatingwebhookconfiguration/mutatingwebhookconfiguration.go
  vendor/knative.dev/pkg/client/injection/kube/informers/admissionregistration/v1/validatingwebhookconfiguration/validatingwebhookconfiguration.go
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/statefulset/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/statefulset/statefulset.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/configmap/configmap.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/configmap/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/node/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/node/node.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/pod/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/pod/pod.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/secret.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/service/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/service/service.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/factory.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/fake/fake.go
  vendor/knative.dev/pkg/configmap/testing/configmap.go
  vendor/knative.dev/pkg/logging/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/metrics/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/tracker/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/webhook/admission.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#2373 Improve delete lifecycle with safeguards and exception catching
  data-plane/THIRD-PARTY.txt
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/AsyncCloseable.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerMessageHandler.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerMessageHandlerTest.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherMutatorChain.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/KafkaConsumerRecordUtils.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerDeployerVerticle.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/InvalidCloudEventInterceptorTest.java
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#2391 KafkaSink is binary now
  control-plane/config/eventing-kafka-broker/100-sink/100-kafka-sink.yaml
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_defaults.go
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_defaults_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  test/e2e_new/resources/kafkasink/kafkasink_test.go
Labels: approved, size/M, lgtm, area/control-plane, area/test, kind/api-change

#2399 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2377 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2400 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2357 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/pkg/client/clientset/versioned/clientset.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/clientset.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/test/conformance/helpers/channel_tracing_test_helper.go
  vendor/knative.dev/eventing/test/conformance/helpers/tracing/traces.go
  vendor/knative.dev/eventing/test/conformance/helpers/tracing/zipkin.go
  vendor/knative.dev/eventing/test/conformance/helpers/tracing_test_helper.go
  vendor/knative.dev/eventing/test/rekt/features/broker/data_plane.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2402 Ignore artifacts files only in the root directory
  .gitignore
Labels: approved, lgtm, size/S

#2362 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, area/test, skip-review

#2407 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2296 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2405 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/S

#2408 Adding simple test for Dead letter sink and retries
  test/e2e_new/dls_test.go
Labels: approved, lgtm, size/L, area/test

#2299 New sticky partition strategy for Kafka rebalancing (works for all kafka clients versions)
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
  data-plane/config/source/100-config-kafka-source-data-plane.yaml
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/UnorderedConsumerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImplTest.java
  data-plane/profiler/resources/config-kafka-broker-consumer.properties
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/DataPlaneTest.java
Labels: approved, lgtm, size/S, area/data-plane, area/control-plane, area/test

#2418 Channel e2e tests multiarch
  hack/tools.go
  test/scripts/first-event-delay.sh
  vendor/knative.dev/eventing/cmd/event_display/main.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, ok-to-test, area/test

#2381 Bump Strimzi Kafka operator for tests to 0.29
  hack/update-strimzi.sh
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
  test/kafka/user-sasl-scram-512.yaml
  test/kafka/user-tls.yaml
  test/scripts/first-event-delay.sh
Labels: approved, lgtm, size/XXL, ok-to-test, area/test

#2412 Force include all Kafka clients classes
  data-plane/dispatcher/pom.xml
  data-plane/receiver/pom.xml
Labels: approved, lgtm, size/S, area/data-plane

#2423 [release-1.6] Manually upgrade dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/pkg/common/kafka/offset/offsets.go
  vendor/modules.txt
Labels: approved, size/XS, lgtm

#2426 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2430 Allow enabling data plane server and client metrics
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/utils/BaseEnv.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/utils/BaseEnvTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverEnvTest.java
Labels: approved, size/M, lgtm, area/data-plane

#2431 Add pause/resume lifecyecle to ordered consumer
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
Labels: approved, lgtm, size/S, area/data-plane

#2432 Perform `max.poll.interval.ms` considering `max.poll.records`
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, lgtm, size/S, area/data-plane, kind/bug

#2429 Compare all egress fields in data plane reconciler for triggering updates
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
Labels: approved, size/XS, lgtm, area/data-plane

#2434 Increase default HTTP client max pool size
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
  data-plane/config/source/100-config-kafka-source-data-plane.yaml
Labels: approved, size/XS, lgtm, area/data-plane
