Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-03, with the labels that each got.

#1950 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, lgtm, area/test

#1954 Add event_type label to dispatcher metrics
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
Labels: approved, lgtm, size/S, area/data-plane

#1958 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#1957 Global resync consumers and consumergroups on statefulset changes
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, size/M, lgtm, area/control-plane

#1828 Consumer scheduling scaling KafkaChannel tests
  control-plane/pkg/reconciler/channel/testdata/testdata
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/testdata
  control-plane/pkg/reconciler/testing/objects_channel.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, lgtm, size/XXL, area/control-plane

#1869 Storage-Version-Migrator for KafkaSource and KafkaChannel
  control-plane/config/post-install/200-storage-version-migrator-cluster-role.yaml
  control-plane/config/post-install/200-storage-version-migrator-service-account.yaml
  control-plane/config/post-install/500-storage-version-migrator.yaml
Labels: approved, lgtm, size/L, area/control-plane

#1656 Bump k8s versions in KinD workflows and remove verbose logging
  .github/workflows/kind-e2e.yaml
  hack/create-kind-cluster.sh
Labels: approved, lgtm, size/S, area/test

#1959 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/manifest/installer.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#1924 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1940 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1961 Remove Symlink (GH action fix)
  control-plane/pkg/reconciler/channel/testdata/testdata
Labels: approved, size/XS, lgtm, area/control-plane

#1965 Failed to build storage version migrator
  hack/control-plane.sh
  hack/tools.go
  vendor/knative.dev/pkg/apiextensions/storageversion/cmd/migrate/main.go
  vendor/knative.dev/pkg/apiextensions/storageversion/migrator.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#1962 Increase timeout for data plane test
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/DataPlaneTest.java
Labels: approved, size/XS, lgtm, area/data-plane

#1971 Use broker status annotations to stamp ConfigMap reference
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
Labels: approved, lgtm, size/L, kind/bug, area/control-plane

#1973 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/e2e-rekt-tests.sh
  vendor/modules.txt
Labels: approved, lgtm, size/S

#1976 Verify post-install jobs succeess during post-upgrade tests
  test/upgrade/postupgrade.go
Labels: approved, size/M, lgtm, area/test

#1981 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/S

#1982 Prefactoring for topic reconciling
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/M, lgtm, area/control-plane

#1983 Consolidate Kafka packages into one single package
  control-plane/pkg/apis/eventing/v1/broker_validation.go
  control-plane/pkg/kafka/broker_class.go
  control-plane/pkg/kafka/broker_class_test.go
  control-plane/pkg/kafka/client.go
  control-plane/pkg/kafka/consumer_group.go
  control-plane/pkg/kafka/testing/admin_mock.go
  control-plane/pkg/kafka/testing/client_mock.go
  control-plane/pkg/kafka/topic.go
  control-plane/pkg/kafka/topic_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/source/controller.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/security/config.go
  control-plane/pkg/security/secret.go
  control-plane/pkg/security/secret_test.go
  test/e2e/broker_redelivery_test.go
  test/e2e/broker_sasl_ssl_test.go
  test/e2e/broker_trigger_sink_test.go
  test/e2e/broker_trigger_test.go
  test/e2e/conformance/control_plane_conformance_test.go
  test/e2e/conformance/data_plane_conformance_test.go
  test/e2e_new/broker_conformance_test.go
  test/e2e_new/broker_delete_config_map_test.go
  test/e2e_new/broker_not_ready_test.go
  test/e2e_new/main_test.go
  test/e2e_new/ordered_test.go
  test/e2e_new/tracing_test.go
  test/pkg/broker/broker.go
  test/test_images/kafka-consumer/consumer.go
  test/upgrade/continual/broker.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1989 Update sponsoring WG
  README.md
Labels: approved, size/XS, lgtm

#1987 Remove ConfigMap finalizer during reconcile
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/XS, lgtm, area/control-plane

#1988 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, size/XS, lgtm

#1922 Implement new trigger filters experimental feature (SubscriptionsAPI Filters)
  .github/workflows/kind-e2e.yaml
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/contract/subscriptionsapi.go
  control-plane/pkg/contract/subscriptionsapi_test.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImplTest.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/AttributesFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/BaseStringFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AllFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AnyFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/CeSqlFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/ExactFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/NotFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/PrefixFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/SuffixFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AllFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AnyFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/CeSqlFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/ExactFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/NotFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/PrefixFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/SuffixFilterTest.java
  proto/contract.proto
  test/experimental/features_config/features.yaml
  test/experimental/features_config/install.go
  test/experimental/main_test.go
  test/experimental/new_trigger_filters_test.go
  vendor/knative.dev/eventing/test/experimental/features/new_trigger_filters/filters.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane, area/test

#1990 Handle host headers in dataplane for identification of channel instances
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/contract/log_marshaller.go
  control-plane/pkg/core/config/resource_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStoreTest.java
  proto/contract.proto
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane

#1991 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1995 [release-1.3] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/leaderelection/config.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#1996 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1993 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1992 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/leaderelection/config.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#2001 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/channel_template_types.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/rekt/resources/channel/channel.go
  vendor/knative.dev/eventing/test/rekt/resources/channel_impl/channel_impl.go
  vendor/knative.dev/pkg/configmap/parse.go
  vendor/knative.dev/pkg/leaderelection/config.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2007 Add permission to set ConfigMap owner references to controller
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2003 Poll for new records when `max.poll.records` limit isn't reached
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticleTest.java
Labels: approved, size/M, lgtm, area/data-plane

#2013 Remove auto offset setting for KafkaChannel, since the control plane does init the actual offset
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#2018 Extract func to propagate consumer group status in KafkaSource
  control-plane/pkg/reconciler/source/v2/sourcev2.go
  control-plane/pkg/reconciler/source/v2/sourcev2_test.go
Labels: approved, size/M, lgtm, kind/cleanup, area/control-plane

#2006 Config retries for KafkaSource scheduler based
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/source/v2/sourcev2.go
  control-plane/pkg/reconciler/source/v2/sourcev2_test.go
Labels: approved, lgtm, size/L, area/control-plane

#2019 Propagate consumer group status in Trigger and fallback to Broker delivery spec
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
Labels: approved, lgtm, size/L, kind/cleanup, area/control-plane

#2021 Moving hardcoded values to controller environment variables, and config maps ready (Consumer Scheduling and Scaling)
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-descheduler.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-scheduler.yaml
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
Labels: approved, lgtm, size/L, area/control-plane

#2022 Consumer cleanup of unused field
  control-plane/pkg/reconciler/consumer/consumer.go
Labels: approved, size/XS, lgtm, area/control-plane

#2027 Add more permissions to set Pod finalizers for controller
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2011 [main] Update community files
  OWNERS_ALIASES
Labels: approved, lgtm, size/S

#2012 Make it possible to specify auth secret namespace in configmap
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/security/config.go
  control-plane/pkg/security/config_test.go
  test/e2e-common.sh
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2023 Adding code of conduct to reference knative/community's CoC
  CODE-OF-CONDUCT.md
Labels: approved, size/M, lgtm

#1997 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2031 [main] Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Labels: approved, lgtm, size/XL, area/test

#2032 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/CODE-OF-CONDUCT.md
  vendor/knative.dev/hack/CODE_OF_CONDUCT.md
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2034 Set KafkaChannel dead letter sink URI in the status
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  control-plane/pkg/reconciler/testing/objects_common.go
Labels: approved, lgtm, size/L, area/control-plane

#2029 Improve dispatcher components stop lifecycle
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/AsyncCloseable.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToKafkaTopicHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/BaseConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
Labels: approved, lgtm, size/L, area/data-plane
