Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-04, with the labels that each got.

#2047 HA Scheduler config map update
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-scheduler.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2044 Reconciler tests for channel deletion
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
Labels: approved, size/M, lgtm, area/control-plane

#2041 [main] Update community files
  OWNERS_ALIASES
Labels: approved, lgtm, size/S

#2043 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2042 KafkaChannel upgrade tests
  test/e2e-common.sh
  test/upgrade/continual.go
  test/upgrade/continual/channel-config.toml
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/suite.go
  vendor/knative.dev/eventing-kafka/test/upgrade/README.md
  vendor/knative.dev/eventing-kafka/test/upgrade/continual.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/eventing_core.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/githead.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/shell.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/stable.go
  vendor/knative.dev/eventing-kafka/test/upgrade/postdowngrade.go
  vendor/knative.dev/eventing-kafka/test/upgrade/postupgrade.go
  vendor/knative.dev/eventing-kafka/test/upgrade/preupgrade.go
  vendor/knative.dev/eventing-kafka/test/upgrade/smoke.go
  vendor/knative.dev/eventing-kafka/test/upgrade/suite.go
  vendor/knative.dev/eventing-kafka/test/upgrade/test_main.go
  vendor/knative.dev/eventing/test/lib/duck/resource_checks.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/control-plane, area/test

#2053 Enable Zipkin tracing for upgrade tests
  test/config/monitoring.yaml
  test/e2e-common.sh
Labels: approved, lgtm, size/S, area/test

#2059 Update codegen
  hack/verify-codegen.sh
  vendor/knative.dev/eventing/test/lib/duck/resource_checks.go
Labels: approved, size/XS, lgtm

#2051 [main] Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Labels: approved, lgtm, size/L, area/test

#1998 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2058 Dynamically set `max.poll.interval.ms` based on the delivery spec
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, lgtm, size/S, area/data-plane

#2064 [release-v1.2] Dynamically set max.poll.interval.ms based on the delivery spec (#2058)
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, lgtm, size/S, area/data-plane

#2063 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2061 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, lgtm, area/test

#2038 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/reconciler/sugar/filters.go
  vendor/knative.dev/eventing/pkg/reconciler/sugar/labels.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/trigger.go
  vendor/knative.dev/eventing/test/e2e-common.sh
  vendor/knative.dev/eventing/test/e2e/helpers/broker_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/sugar_helper.go
  vendor/knative.dev/eventing/test/lib/client.go
  vendor/knative.dev/eventing/test/lib/creation.go
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/broker/readyness.go
  vendor/knative.dev/eventing/test/rekt/features/channel/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/knconf/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/trigger_sink_resolution.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.go
  vendor/knative.dev/eventing/test/test_images/utils.go
  vendor/knative.dev/eventing/test/upgrade/prober/config.toml
  vendor/knative.dev/eventing/test/upgrade/prober/configuration.go
  vendor/knative.dev/eventing/test/upgrade/prober/forwarder.go
  vendor/knative.dev/eventing/test/upgrade/prober/receiver.go
  vendor/knative.dev/eventing/test/upgrade/prober/sender.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/client/receiver.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/defaults.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/structure.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/tracing.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/event/services.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/event/tracing.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/forwarder/services.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/receiver/services.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/sender/operations.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/sender/services.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/sender/types.go
  vendor/knative.dev/pkg/leaderelection/context.go
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#2068 Expensive metrics endpoint for dispatcher liveness and readiness probe
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channel/500-dispatcher.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/source/500-dispatcher.yaml
  data-plane/config/sourcev2/500-dispatcher.yaml
Labels: approved, size/M, lgtm, area/data-plane

#2065 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2057 Increase default timeout to 10 minutes
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, size/XS, lgtm, area/data-plane

#2074 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm, skip-review

#2077 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, ok-to-test

#2084 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2082 Add ConfigMap knative-eventing/config-kafka-source-defaults
  control-plane/config/eventing-kafka-broker/100-source/config-kafka-source-defaults.yaml
Labels: approved, size/M, lgtm, area/control-plane

#2081 Remove KafkaBinding's podspecable ClusterRoleBinding
  control-plane/cmd/post-install/kafka_source_deleter.go
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, lgtm, size/S, area/control-plane

#2093 Remove unused source controller configs
  control-plane/pkg/reconciler/source/v2/controllerv2.go
  control-plane/pkg/reconciler/source/v2/controllerv2_test.go
Labels: approved, size/XS, lgtm, area/control-plane

#2095 Limit the number of poll calls for unordered delivery
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
Labels: approved, lgtm, size/S, area/data-plane

#2091 Initialize offset in ConsumerGroup reconciler
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_defaults.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_defaults_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_defaults_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/kafka/testing/client_mock.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/consumergroup/auth.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/consumergroup/testdata/ca.crt
  control-plane/pkg/reconciler/consumergroup/testdata/user.crt
  control-plane/pkg/reconciler/consumergroup/testdata/user.key
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
Labels: approved, lgtm, size/XL, area/control-plane

#2090 [main] Update actions
  .github/workflows/knative-go-test.yaml
Labels: approved, size/XS, lgtm, area/test

#2101 Fix copylocks lint error in tests
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2100 Clean up Zipkin tracing only once in upgrade tests
  test/upgrade/upgrade_test.go
Labels: approved, size/XS, lgtm, area/test

#2092 Topology spread constraints on zones and anti-affinity for receivers and dispatchers
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channel/500-dispatcher.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/sink/500-receiver.yaml
  data-plane/config/source/500-dispatcher.yaml
  data-plane/config/sourcev2/500-dispatcher.yaml
Labels: approved, lgtm, size/L, area/data-plane

#2102 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L, ok-to-test

#2052 Fix or remove some TODOs
  control-plane/cmd/kafka-controller/main.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2088 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/pkg/common/tracing/tracing.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/channel-config.toml
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/kafkasender.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/source-config.toml
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/eventing_core.go
  vendor/knative.dev/eventing-kafka/test/upgrade/test_main.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/test/e2e-common.sh
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, ok-to-test

#2083 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm, ok-to-test

#2111 Configure tracing in wathola toml files
  test/upgrade/continual/channel-config.toml
  test/upgrade/continual/kafka-broker-config.toml
  test/upgrade/continual/kafka-sink-source-config.toml
Labels: approved, size/XS, lgtm, area/test

#2113 Check error when creating Sarama options
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, size/XS, lgtm, area/control-plane

#2127 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2129 Upgrade dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/test/e2e/helpers/kafka_source_test_helper.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2133 Wait 10 mins before deleting the consolidated channel dataplane
  control-plane/cmd/post-install/kafka_channel_post_migration_deleter.go
Labels: approved, size/XS, lgtm, area/control-plane

#2138 Upgrade dependencies to get pkg migration fix
  go.mod
  go.sum
  vendor/knative.dev/pkg/apiextensions/storageversion/cmd/migrate/main.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm
