Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-05, with the labels that each got.

#2140 Going with debug to reduce verbosity for retention duration default usage
  control-plane/pkg/reconciler/channel/channel.go
Labels: approved, size/XS, lgtm, area/control-plane

#2146 Add unit test for AsyncCloseable's compose utility
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/AsyncCloseableTest.java
Labels: approved, size/M, lgtm, area/data-plane

#2147 Disable unnecessary metrics
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
Labels: approved, size/XS, lgtm, area/data-plane

#2151 Fix for teardown eventing
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#2157 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2112 Prober targets service instead of pods directly
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/prober/prober_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/sink/controller.go
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/sink/500-receiver.yaml
Labels: approved, lgtm, size/L, area/data-plane, kind/bug, area/control-plane

#2139 Use PLAIN as default SASL if not specified
  control-plane/pkg/reconciler/source/v2/sourcev2_test.go
  control-plane/pkg/security/secret.go
  control-plane/pkg/security/secret_test.go
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/security/CredentialsValidator.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/security/KafkaClientsAuth.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/security/CredentialsValidatorTest.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/security/KafkaClientsAuthTest.java
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2145 Clean up ordered delivery verticle
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/OrderedAsyncExecutor.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerMessageHandler.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/OrderedAsyncExecutorTest.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverEnvTest.java
Labels: approved, lgtm, size/L, area/data-plane

#2160 adding 408 - Request Timeout to list of retryable status codes
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
Labels: approved, size/XS, lgtm, area/data-plane

#2177 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2173 [clean up] Removing config map finalizer left overs
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
Labels: approved, lgtm, size/L, area/control-plane

#2179 Handle committing offsets on revoked partitions
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
Labels: approved, lgtm, size/S, area/data-plane

#2175 Bind and close Kafka client metrics provider asynchronously
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/AsyncCloseable.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToKafkaTopicHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
Labels: approved, lgtm, size/L, area/data-plane

#2180 [release-1.2] Prober targets service instead of pods directly
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/prober/prober_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/sink/controller.go
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/sink/500-receiver.yaml
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2184 Add -XX:+CrashOnOutOfMemoryError flag
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channel/500-dispatcher.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/sink/500-receiver.yaml
  data-plane/config/source/500-dispatcher.yaml
  data-plane/config/sourcev2/500-dispatcher.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#2186 [1.3] Fix or remove some TODOs
  control-plane/cmd/kafka-controller/main.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2189 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2190 Bumping deps
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/test/e2e-common.sh
  vendor/knative.dev/eventing/test/lib/resources/eventing.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2191 [release-1.2] Handle host headers in dataplane for identification of channel instances (#1990)
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/contract/log_marshaller.go
  control-plane/pkg/core/config/resource_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStoreTest.java
  proto/contract.proto
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane

#2197 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2194 Remove calling 'ExecuteLocalYAML', b/c it is deprecated
  test/e2e_new/resources/kafkasink/kafkasink_test.go
Labels: approved, size/XS, lgtm, area/test

#2171 Set vReplicas in consumer reconciler
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  proto/contract.proto
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2193 Use local instead of readonly
  hack/data-plane.sh
Labels: approved, size/XS, lgtm

#2198 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/kncloudevents/retries.go
  vendor/knative.dev/eventing/test/upgrade/prober/prober.go
  vendor/knative.dev/eventing/test/upgrade/prober/sender.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/knative.dev/reconciler-test/pkg/manifest/templates.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2206 Adding latest eventing-kafka dep
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/test/e2e/helpers/kafka_helper.go
  vendor/knative.dev/eventing-kafka/test/upload-test-images.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2174 use builtin MacOS sed in data-plane script
  hack/data-plane.sh
Labels: approved, size/XS, lgtm

#2207 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2204 Remove old Config Kafka CM for old/legacy channel
  control-plane/cmd/post-install/kafka_channel_post_migration_deleter.go
Labels: approved, size/XS, lgtm, area/control-plane

#2212 Fix RBAC for deletion of configmaps
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, lgtm, size/S, area/control-plane

#2215 Use already built image for Sacura tests
  go.mod
  go.sum
  hack/tools.go
  test/config/sacura/300-job.yaml
  vendor/github.com/go-yaml/yaml/.travis.yml
  vendor/github.com/go-yaml/yaml/LICENSE
  vendor/github.com/go-yaml/yaml/LICENSE.libyaml
  vendor/github.com/go-yaml/yaml/NOTICE
  vendor/github.com/go-yaml/yaml/README.md
  vendor/github.com/go-yaml/yaml/apic.go
  vendor/github.com/go-yaml/yaml/decode.go
  vendor/github.com/go-yaml/yaml/emitterc.go
  vendor/github.com/go-yaml/yaml/encode.go
  vendor/github.com/go-yaml/yaml/parserc.go
  vendor/github.com/go-yaml/yaml/readerc.go
  vendor/github.com/go-yaml/yaml/resolve.go
  vendor/github.com/go-yaml/yaml/scannerc.go
  vendor/github.com/go-yaml/yaml/sorter.go
  vendor/github.com/go-yaml/yaml/writerc.go
  vendor/github.com/go-yaml/yaml/yaml.go
  vendor/github.com/go-yaml/yaml/yamlh.go
  vendor/github.com/go-yaml/yaml/yamlprivateh.go
  vendor/github.com/pierdipi/sacura/.gitignore
  vendor/github.com/pierdipi/sacura/.ko.yaml
  vendor/github.com/pierdipi/sacura/LICENSE
  vendor/github.com/pierdipi/sacura/README.md
  vendor/github.com/pierdipi/sacura/attacker.go
  vendor/github.com/pierdipi/sacura/cmd/sacura/main.go
  vendor/github.com/pierdipi/sacura/config.go
  vendor/github.com/pierdipi/sacura/go.mod
  vendor/github.com/pierdipi/sacura/go.sum
  vendor/github.com/pierdipi/sacura/receiver.go
  vendor/github.com/pierdipi/sacura/state.go
  vendor/github.com/pierdipi/sacura/targeter.go
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/.travis.yml
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/glide.yaml
  vendor/go.uber.org/automaxprocs/go.mod
  vendor/go.uber.org/automaxprocs/go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/test

#2210 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/test/e2e/helpers/kafka_helper.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2126 Delete Kafka consumer group when KafkaSource is deleted
  control-plane/pkg/kafka/testing/admin_mock.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, lgtm, size/L, area/control-plane

#2220 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2225 Disable Sarama metrics since they are not exposed
  control-plane/pkg/kafka/client.go
  go.mod
  vendor/modules.txt
Labels: approved, size/XS, lgtm, area/control-plane

#2224 Support legacy KafkaChannel secret format
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/security/secrets_provider_legacy_channel_secret.go
  test/e2e-common.sh
  test/kafka/kafka_setup.sh
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1023 Adding annotation to drive the name of the backing topic
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_common.go
Labels: cla: yes, approved, lgtm, size/L, area/control-plane, area/test

#2229 [release-1.4] Disable Sarama metrics since they are not exposed (#2225)
  control-plane/pkg/kafka/client.go
  go.mod
  vendor/modules.txt
Labels: approved, size/XS, lgtm, area/control-plane

#2221 Commit offsets on partition revoked
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/BaseConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/PartitionRevokedHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, lgtm, size/L, area/data-plane

#2235 Introduce a rate limiter feature flag
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-features.yaml
  control-plane/config/eventing-kafka-source/200-controller/100-config-kafka-feautures.yaml
  control-plane/pkg/apis/config/features.go
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/consumer/controller.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  hack/update-checksums.sh
  proto/contract.proto
  test/config/100-config-kafka-features.yaml
  test/e2e-common.sh
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane, area/test
