Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-06, with the labels that each got.

#2242 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm, skip-review

#2115 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm, ok-to-test

#2243 [release-1.4] Commit offsets on partition revoked (#2221)
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/OrderedAsyncExecutor.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/BaseConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/PartitionRevokedHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, lgtm, size/L, area/data-plane

#2128 Add rate limiter to ordered consumer verticle
  data-plane/THIRD-PARTY.txt
  data-plane/dispatcher/pom.xml
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticleTest.java
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2252 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2246 Docs for new KafkaChannel
  README.md
  docs/channel/README.md
Labels: approved, lgtm, size/XL

#2273 Fix backtick in Channel docs
  docs/channel/README.md
Labels: approved, size/XS, lgtm

#2276 Document global data plane configurations
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
  data-plane/config/sink/100-config-kafka-sink-data-plane.yaml
  data-plane/config/source/100-config-kafka-source-data-plane.yaml
  hack/update-checksums.sh
Labels: approved, lgtm, size/L, area/data-plane

#2247 Minor fix for missing allowed key type
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_validation.go
Labels: approved, lgtm, size/S, area/control-plane

#2283 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2281 [release-1.4] Channel host based routing
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/prober/prober_test.go
  control-plane/pkg/receiver/routing.go
  control-plane/pkg/receiver/routing_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  go.mod
  go.sum
  test/upgrade/continual.go
  vendor/knative.dev/eventing-kafka/pkg/channel/consolidated/reconciler/controller/resources/service.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/channel.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test

#2245 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2164 Use host-based routing in KafkaChannel
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/prober/prober_test.go
  control-plane/pkg/receiver/routing.go
  control-plane/pkg/receiver/routing_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2222 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2291 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2292 Do not create scheduler for channel & trigger (till we move to v2)
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, size/XS, lgtm, area/control-plane

#2295 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/logging/config.go
  vendor/knative.dev/pkg/metrics/metrics_worker.go
  vendor/knative.dev/pkg/metrics/prometheus_exporter.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/defaulting.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2303 Use a constant backoff delay for probing resource ingresses
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
Labels: approved, lgtm, size/S, area/control-plane

#2305 Reduce default consumer and producer timeouts
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  data-plane/config/channel/100-config-kafka-channel-data-plane.yaml
  data-plane/config/sink/100-config-kafka-sink-data-plane.yaml
  data-plane/config/source/100-config-kafka-source-data-plane.yaml
Labels: approved, lgtm, size/S, area/data-plane

#1968 Add support for ARM64
  .github/workflows/kind-e2e.yaml
  CONTRIBUTING.md
  data-plane/README.md
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channel/500-dispatcher.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/sink/500-receiver.yaml
  data-plane/config/source/500-dispatcher.yaml
  data-plane/dispatcher/pom.xml
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/Main.java
  data-plane/docker/Dockerfile
  data-plane/docker/generate_jdk.sh
  data-plane/pom.xml
  data-plane/receiver/pom.xml
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/Main.java
  hack/create-kind-cluster.sh
  hack/data-plane.sh
Labels: approved, lgtm, size/L, area/data-plane, area/test

#2326 Minor change for KafkaSource bundle setup with arm64
  hack/data-plane.sh
Labels: approved, size/XS, lgtm

#2344 `TAG` is readonly during the release
  hack/data-plane.sh
  hack/label.sh
Labels: approved, size/XS, lgtm

#2297 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2338 Added architecture s390x to jib maven build task
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, ok-to-test, area/data-plane

#2356 [Prefactoring] Rename `reconciler.SystemNamespace` to `reconciler.DataPlaneNamespace`
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2360 Do not use `system.Namespace()` in reconciler unit tests
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2352 Adding KafkaSink to storage version migrator
  control-plane/config/post-install/200-storage-version-migrator-cluster-role.yaml
  control-plane/config/post-install/500-storage-version-migrator.yaml
Labels: approved, lgtm, size/S, area/control-plane

#2359 [Prefactoring] Pass brokerClass to Trigger reconciler instead of hardcoding it
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, lgtm, size/S, area/control-plane

#2355 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L
