Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-10, with the labels that each got.

#2704 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#2706 Fix flaky failedEventsShouldBeEnhancedWithErrorExtensionsPriorToSendingToDlsBodyTooLarge test
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
Labels: approved, size/XS, lgtm, area/data-plane

#2703 Adding consumergroup and consumer to defaulting webhook plus validation logic updates
  control-plane/cmd/webhook-kafka/main.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_validation_test.go
Labels: approved, lgtm, size/XL, area/control-plane

#2700 Use full TopicDetail when creating new topics
  control-plane/pkg/kafka/topic.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
Labels: approved, size/M, lgtm, ok-to-test, area/control-plane

#2702 Add owner reference only when it is not present
  control-plane/pkg/reconciler/consumer/consumer.go
Labels: approved, lgtm, size/S, area/control-plane

#2715 Remove empty match expression to avoid operator loops
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-pod-defaulting.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2707 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, area/test, skip-review

#2697 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2698 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2615 Integrating KEDA as a scaling library into ConsumerGroup
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumergroup/auth.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/consumergroup/testdata/config-kafka-features.yaml
  control-plane/pkg/reconciler/testing/objects_common.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/factory.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/generic.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/keda/interface.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/keda/v1alpha1/clustertriggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/keda/v1alpha1/interface.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/keda/v1alpha1/scaledjob.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/keda/v1alpha1/scaledobject.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/informers/externalversions/keda/v1alpha1/triggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/injection/informers/factory/factory.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/injection/informers/factory/fake/fake.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/injection/informers/keda/v1alpha1/scaledobject/fake/fake.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/injection/informers/keda/v1alpha1/scaledobject/scaledobject.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/listers/keda/v1alpha1/clustertriggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/listers/keda/v1alpha1/expansion_generated.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/listers/keda/v1alpha1/scaledjob.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/listers/keda/v1alpha1/scaledobject.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/listers/keda/v1alpha1/triggerauthentication.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane, area/test

#2720 Set MAX_POLL_INTERVAL_MS_CONFIG before creating consumer
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
Labels: approved, size/M, lgtm, area/data-plane

#2726 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2728 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2731 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  third_party/VENDOR-LICENSE/github.com/pelletier/go-toml/v2/LICENSE
  vendor/github.com/pelletier/go-toml/v2/.gitattributes
  vendor/github.com/pelletier/go-toml/v2/.gitignore
  vendor/github.com/pelletier/go-toml/v2/.golangci.toml
  vendor/github.com/pelletier/go-toml/v2/.goreleaser.yaml
  vendor/github.com/pelletier/go-toml/v2/CONTRIBUTING.md
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/LICENSE
  vendor/github.com/pelletier/go-toml/v2/README.md
  vendor/github.com/pelletier/go-toml/v2/SECURITY.md
  vendor/github.com/pelletier/go-toml/v2/ci.sh
  vendor/github.com/pelletier/go-toml/v2/decode.go
  vendor/github.com/pelletier/go-toml/v2/errors.go
  vendor/github.com/pelletier/go-toml/v2/internal/ast/ast.go
  vendor/github.com/pelletier/go-toml/v2/internal/ast/builder.go
  vendor/github.com/pelletier/go-toml/v2/internal/ast/kind.go
  vendor/github.com/pelletier/go-toml/v2/internal/danger/danger.go
  vendor/github.com/pelletier/go-toml/v2/internal/danger/typeid.go
  vendor/github.com/pelletier/go-toml/v2/internal/tracker/key.go
  vendor/github.com/pelletier/go-toml/v2/internal/tracker/seen.go
  vendor/github.com/pelletier/go-toml/v2/localtime.go
  vendor/github.com/pelletier/go-toml/v2/marshaler.go
  vendor/github.com/pelletier/go-toml/v2/parser.go
  vendor/github.com/pelletier/go-toml/v2/scanner.go
  vendor/github.com/pelletier/go-toml/v2/strict.go
  vendor/github.com/pelletier/go-toml/v2/targets.go
  vendor/github.com/pelletier/go-toml/v2/types.go
  vendor/github.com/pelletier/go-toml/v2/unmarshaler.go
  vendor/github.com/pelletier/go-toml/v2/utf8.go
  vendor/knative.dev/eventing-kafka/pkg/client/injection/reconciler/messaging/v1beta1/kafkachannel/reconciler.go
  vendor/knative.dev/eventing-kafka/pkg/client/injection/reconciler/sources/v1beta1/kafkasource/reconciler.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/reader.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#2733 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/S

#2730 Fix for scaling issue
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#2724 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2734 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2737 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2685 Addressing PodSecurity violation warnings:
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/config/eventing-kafka-broker/200-webhook/500-webhook.yaml
  control-plane/config/eventing-kafka-source/200-controller/500-controller.yaml
  control-plane/config/post-install/500-post-install-job.yaml
  control-plane/config/post-install/500-storage-version-migrator.yaml
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/brokerv2/500-dispatcher.yaml
  data-plane/config/channel/500-dispatcher.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/channelv2/500-dispatcher.yaml
  data-plane/config/sink/500-receiver.yaml
  data-plane/config/source/500-dispatcher.yaml
  test/config/cm-watcher-broker.yaml
  test/config/cm-watcher-channel.yaml
  test/config/cm-watcher-sink.yaml
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test

#2595 Setting KEDA specific annotations from Broker
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  data-plane/config/brokerv2/500-dispatcher.yaml
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2738 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2742 Revert "[data-plane]: Bump ch.qos.logback.version from 1.2.11 to 1.4.1 in /data-plane"
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane

#2746 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2744 Increased wait timeout, fail test if scaling times out
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#2745 [kind] Remove 1.22-based test iteration
  .github/workflows/kind-e2e.yaml
Labels: approved, size/XS, lgtm, area/test

#2741 Namespaced broker upgrade tests
  test/e2e_broker/broker_redelivery_test.go
  test/e2e_broker/broker_trigger_test.go
  test/e2e_broker/conformance/control_plane_conformance_test.go
  test/pkg/broker/broker.go
  test/upgrade-tests.sh
  test/upgrade/continual.go
  test/upgrade/continual/broker.go
  test/upgrade/continual/types.go
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/smoke.go
  test/upgrade/suite.go
Labels: approved, lgtm, size/L, area/test

#2748 Auth spec for namespace support with trigger v2 updates for consumer
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/keda/keda.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/secret_locator.go
  control-plane/pkg/reconciler/consumergroup/auth.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
Labels: approved, lgtm, size/L, area/control-plane

#2613 Setting KEDA specific annotations from KafkaChannel
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  data-plane/config/channelv2/500-dispatcher.yaml
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane

#2739 Refactor ConsumerVerticleFactory and enhance dispatcher logging
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/ConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerFactory.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleBuilder.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleContext.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleLoggingContext.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ProducerFactory.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/AbstractConsumerVerticleTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticleTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticleTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/ConsumerVerticleFactoryImplMock.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/UnorderedConsumerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImplTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/FakeConsumerVerticleContext.java
  hack/data-plane.sh
Labels: approved, lgtm, size/XXL, area/data-plane

#2653 KEDA Trigger Authentication SASL updates for secret spec
  control-plane/pkg/keda/keda.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#2758 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/args/args.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/packages.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/metrics/config.go
  vendor/knative.dev/pkg/metrics/config_observability.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/knative.dev/reconciler-test/pkg/environment/images.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2759 [release-1.8] Upgrade dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/environment/images.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#2756 KEDA Trigger Authentication TLS updates for secret spec
  control-plane/pkg/keda/keda.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/security/secret.go
Labels: approved, size/M, lgtm, area/control-plane
