Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-09, with the labels that each got.

#2585 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2519 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2567 Checking if received config has data or not
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  test/e2e_new/broker_test.go
  test/e2e_new/features/broker_deleted_recreated.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2596 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2600 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2562 Proper webhook registration for KafkaBroker
  control-plane/cmd/webhook-kafka/main.go
  control-plane/pkg/apis/eventing/v1/broker_validation.go
  control-plane/pkg/apis/eventing/v1/broker_validation_test.go
Labels: approved, lgtm, size/L, area/control-plane

#2532 Tracing tests updates
  go.mod
  go.sum
  test/e2e_new/features/featuressteps/broker.go
  test/e2e_new/tracing_test.go
  test/e2e_new_channel/tracing_test.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/eventshub.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/utils.go
  vendor/modules.txt
Labels: approved, size/M, lgtm, area/test

#2602 Rename env variable from `DATA_PLANE_CONFIG_MAP` to `CONTRACT_CONFIG_MAP`
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/config/eventing-kafka-source/200-controller/500-controller.yaml
  control-plane/pkg/config/env_config.go
  control-plane/pkg/config/env_config_test.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumer/controller_test.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  test/cmd/watch-cm/main.go
  test/config/cm-watcher-broker.yaml
  test/config/cm-watcher-channel.yaml
  test/config/cm-watcher-sink.yaml
Labels: approved, lgtm, size/XL, area/control-plane, area/test

#2604 Doing base 64 encoding of the data
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherTest.java
  test/e2e_new/dls_extensions_test.go
Labels: approved, size/M, lgtm, area/data-plane, area/test

#2609 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/e2e/helpers/broker_prefer_reply_header_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_prefer_reply_header_helper.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.yaml
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.yaml
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/pkg/test/kube_checks.go
  vendor/knative.dev/pkg/webhook/admission.go
  vendor/knative.dev/pkg/webhook/conversion.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/interface.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/controller.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/reconcile_config.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/knative.dev/pkg/webhook/stats_reporter.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#2598 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2611 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/rekt/features/channel/data_plane.go
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2601 Kafka Broker Triggers receive events from after they are Ready by default
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/pkg/config/env_config.go
  control-plane/pkg/config/env_config_test.go
  control-plane/pkg/kafka/data_plane_config.go
  control-plane/pkg/kafka/testing/admin_mock.go
  control-plane/pkg/kafka/topic.go
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/base/reconciler_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  control-plane/pkg/security/config.go
  data-plane/config/broker/100-config-kafka-broker-data-plane.yaml
  go.mod
  go.sum
  test/config/cm-watcher-broker.yaml
  test/config/cm-watcher-channel.yaml
  test/config/cm-watcher-sink.yaml
  test/e2e_new/broker_test.go
  test/e2e_new/features/trigger_offset_reset.go
  third_party/VENDOR-LICENSE/github.com/magiconair/properties/LICENSE.md
  vendor/github.com/magiconair/properties/.gitignore
  vendor/github.com/magiconair/properties/.travis.yml
  vendor/github.com/magiconair/properties/CHANGELOG.md
  vendor/github.com/magiconair/properties/LICENSE.md
  vendor/github.com/magiconair/properties/README.md
  vendor/github.com/magiconair/properties/decode.go
  vendor/github.com/magiconair/properties/doc.go
  vendor/github.com/magiconair/properties/integrate.go
  vendor/github.com/magiconair/properties/lex.go
  vendor/github.com/magiconair/properties/load.go
  vendor/github.com/magiconair/properties/parser.go
  vendor/github.com/magiconair/properties/properties.go
  vendor/github.com/magiconair/properties/rangecheck.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane, area/test

#2618 Manually upgrade deps
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/e2e/helpers/broker_prefer_reply_header_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_prefer_reply_header_helper.go
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/eventing/test/rekt/features/broker/topology.go
  vendor/knative.dev/eventing/test/rekt/features/channel/data_plane.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.yaml
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#2570 Check for kafka/network errors on finalizeKind, to unblock the borker deletion if the cluster is not reachable
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/controller.go
  test/e2e_new/broker_test.go
  test/e2e_new/features/broker_deleted_recreated.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2626 Manual backport of proper webhook implementation
  control-plane/cmd/webhook-kafka/main.go
  control-plane/pkg/apis/eventing/v1/broker_validation.go
  control-plane/pkg/apis/eventing/v1/broker_validation_test.go
Labels: approved, lgtm, size/L, area/control-plane

#2628 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/environment/namespace.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2633 Remove meters of deleted resources
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/IngressReconcilerListener.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/metrics/MetricsTest.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/IngressRequestHandler.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/handler/IngressRequestHandlerImpl.java
Labels: approved, lgtm, size/L, area/data-plane

#2608 Setting KEDA specific annotations from KafkaSource
  control-plane/pkg/keda/keda.go
  control-plane/pkg/reconciler/source/controller.go
  control-plane/pkg/reconciler/source/controller_test.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/testing/objects_source.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/clientset.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/doc.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/fake/doc.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/fake/register.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/scheme/doc.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/scheme/register.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/clustertriggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/doc.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/doc.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/fake_keda_client.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/generated_expansion.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/keda_client.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/scaledjob.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/scaledobject.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/clientset/versioned/typed/keda/v1alpha1/triggerauthentication.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/injection/client/client.go
  vendor/knative.dev/eventing-autoscaler-keda/third_party/pkg/client/injection/client/fake/fake.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane

#2638 Do not copy locks
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
Labels: approved, size/XS, lgtm, area/control-plane

#2635 Add data plane config CM name to namespaced reconcilers
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
Labels: approved, size/M, lgtm, area/control-plane

#2629 [release-v1.7] [issue/2569] Check for kafka/network errors on finalizeKind
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  test/e2e_new/broker_test.go
  test/e2e_new/features/broker_deleted_recreated.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2642 KEDA as scaling library minor fix in TriggerAuth gen
  control-plane/pkg/keda/keda.go
Labels: approved, size/XS, lgtm, area/control-plane

#2641 NIT: Reflect that the ContentMode for KafkaSink is binary
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_types.go
Labels: approved, size/XS, lgtm, area/control-plane

#2619 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2620 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2640 Keda enabled check function for KafkaSource
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
Labels: approved, lgtm, size/S, area/control-plane

#2645 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2644 [release-1.6] [issue/2569] Check for kafka/network errors on finalizeKind
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/controller.go
  test/e2e_new/broker_test.go
  test/e2e_new/features/broker_deleted_recreated.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2647 Fix for "CONSUMER_CONTRACT_CONFIG_MAP_FORMAT missing value" in source-controller
  control-plane/config/eventing-kafka-source/200-controller/500-controller.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2603 Enable namespaced broker again
  .github/workflows/kind-e2e.yaml
  control-plane/cmd/kafka-controller/main.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger.go
  test/e2e-tests.sh
  test/e2e_broker/broker_redelivery_test.go
  test/e2e_broker/broker_trigger_sink_test.go
  test/e2e_broker/broker_trigger_test.go
  test/e2e_broker/conformance/control_plane_conformance_test.go
  test/e2e_new/broker_conformance_test.go
  test/e2e_new/broker_not_ready_test.go
  test/e2e_new/broker_test.go
  test/e2e_new/dls_test.go
  test/e2e_new/features/broker_deleted_recreated.go
  test/e2e_new/features/featuressteps/broker.go
  test/e2e_new/tracing_test.go
  test/pkg/broker/broker.go
  test/reconciler-tests.sh
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2652 Remove noisy log lines "Nothing changed" at info level
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
Labels: approved, lgtm, size/S, area/data-plane

#2654 Create a feature flag for KEDA autoscaling of consumers
  control-plane/cmd/kafka-controller/main.go
  control-plane/cmd/kafka-source-controller/main.go
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-features.yaml
  control-plane/pkg/apis/config/features.go
  control-plane/pkg/apis/config/features_test.go
  control-plane/pkg/apis/config/testdata/config-kafka-features.yaml
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  test/config/100-config-kafka-features.yaml
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2651 Metrics for KafkaChannel subscriptions
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/fake/fake.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/subscription.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#2663 Add resource requests for every workload
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/channel/500-dispatcher.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/sink/500-receiver.yaml
Labels: approved, lgtm, size/S, area/data-plane, area/control-plane

#2664 Nit: Remove checksum, since null and generally not used in this deprecated constructor
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
Labels: approved, size/XS, lgtm, area/data-plane

#2658 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2648 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2665 [release-v1.7] Upgrade dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/availabilitynodepriority/availability_node_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/availabilityzonepriority/availability_zone_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/broker/topology.go
  vendor/knative.dev/eventing/test/rekt/features/channel/data_plane.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#2668 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2676 Bump Kafka clients from 3.2.1 to 3.2.3
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, lgtm, size/S, area/data-plane, dependencies

#2673 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2667 Wait for sts to exists before deleting dispatcher during migration
  control-plane/cmd/post-install/kafka_source_dispatcher_deleter.go
Labels: approved, lgtm, size/S, area/control-plane

#2672 Spec.Config.Namespace is not required
  control-plane/pkg/apis/eventing/v1/broker_validation.go
  control-plane/pkg/apis/eventing/v1/broker_validation_test.go
Labels: approved, lgtm, size/S, kind/bug, area/control-plane

#2684 Fix misleading log message
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
Labels: approved, size/XS, lgtm, area/data-plane

#2693 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2686 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2691 Fix cluster role for post install job
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#2696 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2682 Using Red Hat OpenJDK with ubi8
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane
