Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2022-01, with the labels that each got.

#1675 [release-1.1] Use digest for data plane images
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/sink/500-receiver.yaml
  data-plane/config/source/500-dispatcher.yaml
  hack/data-plane.sh
Labels: approved, lgtm, size/L, area/data-plane

#1660 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1673 Store log artifacts for all pods
  test/e2e-tests.sh
Labels: approved, size/XS, lgtm, area/test

#1647 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1650 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1651 Add Source Observer ClusterRole
  control-plane/config/100-source/200-sources-observer-aggregated-clusterrole.yaml
Labels: approved, size/M, lgtm, area/control-plane

#1674 Use digest for data plane images
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/sink/500-receiver.yaml
  data-plane/config/source/500-dispatcher.yaml
  hack/data-plane.sh
Labels: approved, lgtm, size/L, area/data-plane

#1676 Remove teardown phase in GH actions since it takes a lot of time
  .github/workflows/kind-e2e.yaml
Labels: approved, size/XS, lgtm, area/test

#1612 Verify Trigger finalizer isn't set on Triggers of another class
  test/e2e_new/run.go
  test/e2e_new/trigger_finalizer_test.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1685 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1686 Use main as branch in codecov config
  .codecov.yaml
Labels: approved, size/XS, lgtm

#1687 Add test for PartitionLag.String() method
  control-plane/pkg/kafka/consumer_group_lag_test.go
Labels: approved, size/XS, lgtm, area/control-plane

#1691 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1693 Enable basic e2e tests for KafkaChannel
  test/e2e/channel_single_event_test.go
Labels: approved, size/XS, lgtm, area/test

#1697 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1698 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1701 Set resource reference in Broker, Channel, and Sink contracts
  .gitignore
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  control-plane/pkg/reconciler/testing/objects_sink.go
Labels: approved, lgtm, size/L, area/control-plane

#1703 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1702 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1694 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing-kafka/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/eventing/test/rekt/features/broker/source_to_sink.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/trigger_sink_resolution.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#1708 Enqueue trigger when ConsumerGroups change
  control-plane/pkg/reconciler/consumergroup/filter.go
  control-plane/pkg/reconciler/consumergroup/filter_test.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
Labels: approved, size/M, lgtm, area/control-plane

#1611 KafkaSource Reconciler for ConsumerGroup scaling
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/reconciler/source/v2/controllerv2.go
  control-plane/pkg/reconciler/source/v2/controllerv2_test.go
  control-plane/pkg/reconciler/source/v2/sourcev2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
Labels: approved, lgtm, size/L, area/control-plane

#1707 Support TLS for the metrics server
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
Labels: approved, size/M, lgtm, area/data-plane

#1717 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1718 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1632 Add ConsumerGroup scheduling
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/register.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/factory.go
  control-plane/pkg/reconciler/testing/listers.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  vendor/knative.dev/eventing/pkg/scheduler/README.md
  vendor/knative.dev/eventing/pkg/scheduler/doc.go
  vendor/knative.dev/eventing/pkg/scheduler/placement.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane

#1716 Add KafkaSink upgrade tests
  test/e2e-common.sh
  test/e2e/kafka_sink.go
  test/e2e/kafka_sink_test.go
  test/upgrade-tests.sh
  test/upgrade/continual.go
  test/upgrade/continual/kafka-sink-source-config.toml
  test/upgrade/continual/sink_source.go
  test/upgrade/continual/types.go
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/suite.go
Labels: approved, lgtm, size/L, area/test

#1723 Support replies in KafkaChannel
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/BaseResponseHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToHttpEndpointHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToKafkaTopicHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToHttpEndpointHandlerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToKafkaTopicHandlerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImplTest.java
  test/e2e/channel_event_transformation_test.go
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane, area/test

#1726 Add webhook Service Monitor
  control-plane/config/200-webhook/500-webhook.yaml
  manifests/monitoring/prometheus-operator/webhook/kafka-webhook-servicemonitor.yaml
  test/e2e-common.sh
Labels: approved, size/M, lgtm, area/control-plane, area/test

#1601 Add Consumer reconciler for scheduling and scaling
  control-plane/pkg/apis/internals/kafka/eventing/data_plane.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_lifecycle.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_validation.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/contract/extensions.go
  control-plane/pkg/contract/extensions_test.go
  control-plane/pkg/contract/serde.go
  control-plane/pkg/contract/serde_test.go
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/secret_locator.go
Labels: approved, lgtm, size/XXL, area/control-plane

#1747 [release-1.1] Probe ingress resources on finalize
  control-plane/pkg/receiver/address_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  test/reconciler-tests.sh
  test/upgrade-tests.sh
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1744 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1729 [main] Update actions
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-security.yaml
Labels: approved, lgtm, size/S, area/test

#1743 Add build-from-source docs for development
  DEVELOPMENT.md
Labels: approved, size/XS, lgtm

#1752 Fix metrics naming for Kafka clients
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/metrics/Metrics.java
Labels: approved, size/XS, lgtm, area/data-plane

#1750 Bounded in-flight dispatch requests in unordered delivery for back-pressure
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
Labels: approved, size/M, lgtm, area/data-plane

#1721 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1751 Make KafkaChannel the default for testing
  test/config/default-ch-webhook.yaml
Labels: approved, size/M, lgtm, area/test

#1722 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/go-logr/logr/.golangci.yaml
  vendor/github.com/go-logr/logr/CHANGELOG.md
  vendor/github.com/go-logr/logr/CONTRIBUTING.md
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/discard.go
  vendor/github.com/go-logr/logr/go.mod
  vendor/github.com/go-logr/logr/logr.go
  vendor/k8s.io/klog/v2/go.mod
  vendor/k8s.io/klog/v2/go.sum
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/klog/v2/klog_file.go
  vendor/k8s.io/klog/v2/klog_file_others.go
  vendor/k8s.io/klog/v2/klog_file_windows.go
  vendor/knative.dev/eventing/test/e2e-tests.sh
  vendor/knative.dev/eventing/test/lib/client.go
  vendor/knative.dev/eventing/test/lib/operation.go
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/pkg/apis/duck/v1/source_types.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/client.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/duck.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_client.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_duck.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_filtered_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_filtered_informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/packages.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_controller.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_controller_stub.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_reconciler.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_reconciler_stub.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_state.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/main.go
  vendor/knative.dev/pkg/injection/config.go
  vendor/knative.dev/pkg/leaderelection/config.go
  vendor/knative.dev/pkg/leaderelection/doc.go
  vendor/knative.dev/pkg/test/logging/logging.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/controller.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/defaulting.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/user_info.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/prober.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/feature/level.go
  vendor/knative.dev/reconciler-test/pkg/feature/states.go
  vendor/knative.dev/reconciler-test/pkg/feature/timing.go
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
  vendor/knative.dev/reconciler-test/pkg/state/kvstore.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#1724 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#1754 Propagate ConsumerGroup status to KafkaSource
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/source/v2/sourcev2.go
Labels: approved, lgtm, size/S, area/control-plane

#1758 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1630 Dep updates for junit jupiter, and fabric8 k8s client
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#1735 Probe ingress resources on finalize
  control-plane/pkg/receiver/address_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  test/upgrade/continual/verification.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1772 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1775 Fix bash script import for hack/release.sh
  hack/release.sh
Labels: approved, size/XS, lgtm

#1774 Define status.deadLetterSinkUri in KafkaChannel CRD
  third_party/eventing-kafka-latest/channel-crds.yaml
Labels: approved, size/XS, lgtm

#1776 Remove k8s 1.20 APIs
  .github/workflows/kind-e2e.yaml
Labels: approved, size/XS, lgtm, area/test

#1756 Trigger reconciler tests for ConsumerGroup scaling
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/testing/objects_source.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2_test.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
Labels: approved, lgtm, size/XL, area/control-plane

#1769 Increase E2E and rekt tests timeout
  test/e2e-tests.sh
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/test

#1768 Add more comments to OffsetTracker
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
Labels: approved, lgtm, size/S, area/data-plane

#1771 Add HTTP Header 'Prefer: reply' in accordance with KNative specs
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
Labels: approved, size/XS, lgtm, ok-to-test, area/data-plane

#1782 Set FinishedSleep via env variable in upgrade tests
  test/upgrade-tests.sh
  test/upgrade/continual/verification.go
Labels: approved, size/XS, lgtm, area/test

#1731 Run rekt tests from knative-eventing repo with KafkaChannel
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  hack/tools.go
  test/e2e_new/kafka_channel_upstream_test.go
  test/e2e_new/main_test.go
  vendor/knative.dev/eventing/test/rekt/features/channel/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/channel/data_plane.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/rekt/features/channel/helpers.go
  vendor/knative.dev/eventing/test/rekt/features/channel/readyness.go
  vendor/knative.dev/eventing/test/rekt/features/channel/topology.go
  vendor/knative.dev/eventing/test/rekt/resources/account_role/role.go
  vendor/knative.dev/eventing/test/rekt/resources/account_role/role.yaml
  vendor/knative.dev/eventing/test/rekt/resources/channel/channel.go
  vendor/knative.dev/eventing/test/rekt/resources/channel/channel.yaml
  vendor/knative.dev/eventing/test/rekt/resources/channel_impl/channel_impl.go
  vendor/knative.dev/eventing/test/rekt/resources/channel_impl/channel_impl.yaml
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.yaml
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/events/doc.go
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/events/three.ce
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.go
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.yaml
  vendor/knative.dev/eventing/test/rekt/resources/source/source.go
  vendor/knative.dev/eventing/test/test_images/event-library/kodata/events/doc.go
  vendor/knative.dev/eventing/test/test_images/event-library/kodata/events/three.ce
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/data-plane, area/test

#1755 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/eventing/v1/trigger_validation.go
  vendor/knative.dev/eventing/test/e2e-rekt-tests.sh
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/broker/delivery.go
  vendor/knative.dev/eventing/test/rekt/features/broker/readyness.go
  vendor/knative.dev/eventing/test/rekt/resources/broker/broker.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.yaml
  vendor/knative.dev/eventing/test/upgrade/prober/configuration.go
  vendor/knative.dev/eventing/test/upgrade/prober/prober.go
  vendor/knative.dev/eventing/test/upgrade/prober/sender.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/logger.go
  vendor/knative.dev/pkg/version/version.go
  vendor/knative.dev/reconciler-test/pkg/milestone/emitter_log.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#1767 Add Scheduler evictor for ConsumerGroup
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/consumergroup/evictor.go
  control-plane/pkg/reconciler/consumergroup/evictor_test.go
Labels: approved, lgtm, size/L, area/control-plane

#1720 Add Egress resource reference for tagging metrics
  control-plane/config/200-controller/200-controller-cluster-role.yaml
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/listers.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_source.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  proto/contract.proto
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/fake/fake.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/subscription.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane, area/test

#1789 Promote some logs to info in data plane reconciler
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
Labels: approved, size/XS, lgtm, area/data-plane

#1791 Add KafkaSink ConfigMap watcher for tests
  test/config/cm-watcher-broker.yaml
  test/config/cm-watcher-sink.yaml
Labels: approved, size/M, lgtm, area/test

#1792 Export logs continuously during upgrade tests
  test/upgrade-tests.sh
Labels: approved, size/XS, lgtm, area/test

#1793 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#1761 Add ConsumerGroup controller constructor
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types_test.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  vendor/knative.dev/eventing/pkg/scheduler/factory/registry.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/availabilitynodepriority/availability_node_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/availabilityzonepriority/availability_zone_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/evenpodspread/even_pod_spread.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/lowestordinalpriority/lowest_ordinal_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/podfitsresources/pod_fits_resources.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithavailabilitynodepriority/remove_with_availability_node_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithavailabilityzonepriority/remove_with_availability_zone_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithevenpodspreadpriority/remove_with_even_pod_spread_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithhighestordinalpriority/remove_with_highest_ordinal_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/kafka/nomaxresourcecount/no_max_resource_count.go
  vendor/knative.dev/eventing/pkg/scheduler/state/helpers.go
  vendor/knative.dev/eventing/pkg/scheduler/state/interface.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/autoscaler.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/statefulset/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/statefulset/statefulset.go
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/statefulset/statefulset_expansion.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/node/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/node/node.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane

#1801 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/S

#1804 [release-1.2] Fix release: artifact to publish type
  hack/release.sh
Labels: approved, size/XS, lgtm

#1802 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#1807 [1.2] Do not delete finalizer until the probe returns status not ready
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  test/e2e_new/features/broker_deleted_recreated.go
  test/e2e_new/features/featuressteps/broker.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#1835 [release 1.2] Revert channel parts of #1720
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/fake/fake.go
  vendor/knative.dev/eventing/pkg/client/injection/informers/messaging/v1/subscription/subscription.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#1836 [Release 1.2] Run channel Rekt tests
  .github/workflows/kind-e2e.yaml
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/control-plane, area/test
