Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-09, with the labels that each got.

#3317 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3267 Using the composite prober for the sink
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
Labels: approved, size/M, lgtm, ok-to-test, area/control-plane

#3327 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3319 Add eventing kafka broke reviewers role
  OWNERS
Labels: approved, size/XS, lgtm

#3326 Fix multiple time Promise complete problem
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/LoomKafkaConsumer.java
Labels: approved, size/XS, lgtm, area/data-plane

#3332 Added clotributor link
  README.md
Labels: approved, size/XS, lgtm

#3339 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3335 Ignore unknown fields in data plane contract
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/base/reconciler_test.go
Labels: approved, size/M, lgtm, area/control-plane

#3322 Added script to run KafkaSource tests with KEDA
  test/keda-reconciler-tests.sh
  test/keda/enable-keda-autoscaling.yaml
Labels: approved, size/M, lgtm, area/test

#3345 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3346 chore: Bumping Strimzi to next
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#3337 Update the updateServerConfig function to pass in the cert value diectly
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
Labels: approved, size/M, lgtm, area/data-plane

#3353 [main] Update community files
  OWNERS_ALIASES
Labels: approved, size/S, skip-review

#3333 Added Spotless Script to hack/run.sh
  hack/run.sh
Labels: approved, size/XS, lgtm, ok-to-test

#3354 Cache init offsets results in the consumer group reconciler (#817)
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, size/M, lgtm, kind/bug, area/control-plane

#3359 Evictor will not set unschedulable annotation anymore
  control-plane/pkg/reconciler/consumergroup/evictor.go
Labels: approved, lgtm, size/S, area/control-plane

#3361 Added any filter benchmarks which mirror those in eventing core
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/AnyFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/ExactFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/FilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/SampleEvent.java
Labels: approved, lgtm, size/L, area/data-plane

#3355 Set consumer and consumergroups finalizers when creating them
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, size/M, lgtm, area/control-plane

#3325 Modify the existing fileWatcher to make it more generic
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventbus/ContractPublisher.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/file/FileWatcher.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/file/SecretWatcher.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/eventbus/ContractPublisherTest.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/file/FileWatcherTest.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/Main.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/UnorderedConsumerTest.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/Main.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTest.java
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane
