Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-05, with the labels that each got.

#3066 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3064 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/doc.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_conversion.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_defaults.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_lifecycle.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_types.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_validation.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/register.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/zz_generated.deepcopy.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/clientset.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/fake/register.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/scheme/register.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/doc.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/eventing_client.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/eventtype.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/fake/doc.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/fake/fake_eventing_client.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/fake/fake_eventtype.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1beta2/generated_expansion.go
  vendor/knative.dev/eventing/pkg/client/informers/externalversions/eventing/interface.go
  vendor/knative.dev/eventing/pkg/client/informers/externalversions/eventing/v1beta2/eventtype.go
  vendor/knative.dev/eventing/pkg/client/informers/externalversions/eventing/v1beta2/interface.go
  vendor/knative.dev/eventing/pkg/client/informers/externalversions/generic.go
  vendor/knative.dev/eventing/pkg/client/injection/client/client.go
  vendor/knative.dev/eventing/pkg/client/listers/eventing/v1beta2/eventtype.go
  vendor/knative.dev/eventing/pkg/client/listers/eventing/v1beta2/expansion_generated.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/pkg/apis/duck/v1/source_types.go
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3063 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3068 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3084 Remove KafkaSource and KafkaChannel migrators
  control-plane/cmd/post-install/kafka_channel_migrator.go
  control-plane/cmd/post-install/kafka_channel_post_migration_deleter.go
  control-plane/cmd/post-install/kafka_channel_pre_migration_deleter.go
  control-plane/cmd/post-install/kafka_source_deleter.go
  control-plane/cmd/post-install/kafka_source_dispatcher_deleter.go
  control-plane/cmd/post-install/kafka_source_migrator.go
  control-plane/cmd/post-install/main.go
  control-plane/cmd/post-install/util.go
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, lgtm, size/XXL, area/control-plane

#3080 Implement the configurable ordering for kafka source
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_validation_test.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/sources/v1beta1/kafka_defaults.go
  control-plane/pkg/apis/sources/v1beta1/kafka_types.go
  control-plane/pkg/apis/sources/v1beta1/kafka_validation.go
  control-plane/pkg/apis/sources/v1beta1/kafka_validation_test.go
  control-plane/pkg/apis/sources/v1beta1/order.go
  control-plane/pkg/apis/sources/v1beta1/zz_generated.deepcopy.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_source.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  test/e2e_source/helpers/kafka_binding_test_helper.go
  test/e2e_source/helpers/kafka_source.go
  test/e2e_source/helpers/kafka_source_test_helper.go
  test/lib/resources/kafkasource.go
Labels: approved, lgtm, size/XL, area/control-plane, area/test

#3087 Add cert-manager to third-party
  go.mod
  go.sum
  hack/tools.go
  hack/update-codegen.sh
  third_party/cert-manager/01-cert-manager.crds.yaml
  third_party/cert-manager/02-cert-manager.yaml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.gitignore
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.goreleaser.yml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.travis.yml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/LICENSE
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/README.md
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/example-config.json
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/template/members.tpl
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/template/pkg.tpl
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/template/placeholder.go
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/template/type.tpl
  vendor/github.com/russross/blackfriday/v2/.gitignore
  vendor/github.com/russross/blackfriday/v2/.travis.yml
  vendor/github.com/russross/blackfriday/v2/LICENSE.txt
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/entities.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/markdown.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/russross/blackfriday/v2/smartypants.go
  vendor/k8s.io/klog/.travis.yml
  vendor/k8s.io/klog/CONTRIBUTING.md
  vendor/k8s.io/klog/LICENSE
  vendor/k8s.io/klog/README.md
  vendor/k8s.io/klog/RELEASE.md
  vendor/k8s.io/klog/SECURITY_CONTACTS
  vendor/k8s.io/klog/code-of-conduct.md
  vendor/k8s.io/klog/klog.go
  vendor/k8s.io/klog/klog_file.go
  vendor/knative.dev/eventing/hack/README.md
  vendor/knative.dev/eventing/hack/create-kind-cluster.sh
  vendor/knative.dev/eventing/hack/generate-yamls.sh
  vendor/knative.dev/eventing/hack/reference-docs-gen-config.json
  vendor/knative.dev/eventing/hack/release.sh
  vendor/knative.dev/eventing/hack/tools.go
  vendor/knative.dev/eventing/hack/update-cert-manager.sh
  vendor/knative.dev/eventing/hack/update-checksums.sh
  vendor/knative.dev/eventing/hack/update-codegen.sh
  vendor/knative.dev/eventing/hack/update-deps.sh
  vendor/knative.dev/eventing/hack/update-reference-docs.sh
  vendor/knative.dev/eventing/hack/verify-codegen.sh
  vendor/knative.dev/pkg/test/mako/stub-sidecar/main.go
  vendor/knative.dev/pkg/test/mako/stub-sidecar/read_results.sh
  vendor/knative.dev/pkg/third_party/mako/LICENSE
  vendor/knative.dev/pkg/third_party/mako/proto/quickstore_go_proto/quickstore.pb.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3077 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3088 Migrate KafkaSource E2E to REKT
  go.mod
  hack/tools.go
  test/e2e_new/kafka_source_test.go
  test/e2e_source/helpers/channel_subscription_ready_test_helper.go
  test/e2e_source/helpers/kafka_binding_test_helper.go
  test/e2e_source/helpers/kafka_helper.go
  test/e2e_source/helpers/kafka_source.go
  test/e2e_source/helpers/kafka_source_test_helper.go
  test/e2e_source/kafka_source_test.go
  test/rekt/features/kafka_sink.go
  test/rekt/features/kafka_source.go
  test/rekt/features/kafka_source_create_secrets_after.go
  test/rekt/resources/kafkasource/kafkasource.go
  test/rekt/resources/kafkasource/kafkasource.yaml
  test/upgrade/main_test.go
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/smoke.go
  test/upgrade/suite.go
  test/upgrade/suite_test.go
  test/upgrade/upgrade_test.go
Labels: approved, lgtm, size/XXL, area/test

#3098 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3100 Upgrade tests to Kubernetes 1.27.1
  hack/create-kind-cluster.sh
Labels: approved, size/XS, lgtm

#3103 Retry offset commit
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManagerTest.java
Labels: approved, size/M, lgtm, area/data-plane

#3101 Bumping strimzi to latest operator version
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#3113 Added empty FinalizeKind definition to prevent delete sources from hanging
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
Labels: approved, lgtm, size/L, area/control-plane

#3116 Cherry pick sourcev2 upgrade fix to 1.10
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
Labels: approved, lgtm, size/L, area/control-plane

#3115 Cherry pick sourcev2 upgrade fix to 1.9
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
Labels: approved, lgtm, size/L, area/control-plane

#3114 Change all URIFromDestinationV1 to AddressableFromDestinationV1
  control-plane/pkg/core/config/utils.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/trigger/trigger.go
Labels: approved, lgtm, size/S, ok-to-test, area/control-plane

#3106 Adding modules that will have the Vert.x implementations of the kafka communication
  data-plane/dispatcher-vertx/pom.xml
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxKafkaConsumer.java
  data-plane/pom.xml
  data-plane/receiver-vertx/pom.xml
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxKafkaProducer.java
Labels: approved, lgtm, size/L, ok-to-test, area/data-plane

#3117 Create cert manager resources for ekb components
  data-plane/config/broker-tls/broker-ingress-tls-certificate.yaml
  data-plane/config/channel-tls/channel-ingress-tls-certificate.yaml
  data-plane/config/sink-tls/sink-ingress-tls-certificate.yaml
Labels: approved, lgtm, size/L, area/data-plane
