Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-08, with the labels that each got.

#2985 Replace the old slack channel link with the new proper one
  README.md
Labels: approved, size/XS, lgtm, needs-ok-to-test, lifecycle/stale

#3254 Fix update-codegen.sh for update-cert-manager.sh update
  hack/update-codegen.sh
Labels: approved, size/XS, lgtm

#3230 Created KuberenetesResource implementations for EventType
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventType.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeBuilder.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeSpec.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeStatus.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/KReference.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeTest.java
Labels: approved, lgtm, size/L, area/data-plane

#3259 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3260 [main] Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Labels: size/S, area/test, skip-review

#3256 [release-1.11] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/hack/update-cert-manager.sh
  vendor/knative.dev/reconciler-test/pkg/eventshub/assert/step.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/options.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3244 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/eventshub/assert/step.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/options.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3263 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3247 Created abstract FilterBenchmark class
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/ExactFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/FilterBenchmark.java
Labels: approved, lgtm, size/L, area/data-plane

#3275 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3273 Fixed composite prober logic
  control-plane/pkg/prober/composite_prober.go
Labels: approved, size/XS, lgtm, area/control-plane

#3279 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3280 Applying fixes to bump to latest operator and operand
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, size/M, lgtm, area/test

#3261 Add missing addresses field to broker finalizer
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/XS, lgtm, area/control-plane

#3268 Rename knative-sandbox to knative-extensions
  CONTRIBUTING.md
  INTERNALS.md
  README.md
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/security/secret.go
  docs/broker/README.md
  docs/broker/eventing-kafka-broker.svg
  docs/channel/README.md
  hack/update-codegen.sh
  test/e2e-common.sh
  test/e2e_new/broker_trigger_sink_test.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#3286 Make SecretSpec field of consumers Auth omitempty
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
Labels: approved, size/XS, lgtm, area/control-plane

#3265 Propagate ClusterConfiguration in kind correctly
  hack/create-kind-cluster.sh
Labels: approved, size/XS, lgtm

#3271 Add benchmark filter run script
  .gitignore
  DEVELOPMENT.md
  data-plane/benchmarks/resources/config-logging.xml
  data-plane/benchmarks/resources/filter-class-list.txt
  data-plane/benchmarks/run.sh
  hack/run.sh
Labels: approved, lgtm, size/L, area/data-plane

#3293 Fix slow consumergroup reconciliation under load
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
Labels: approved, size/XS, lgtm, area/control-plane

#3300 Fixing: `NullPointerException` occurring and it's discarding the records while tracing for Loom deployment
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
Labels: approved, size/M, lgtm, area/data-plane

#3303 Change the name of the secretVolumePath
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverVerticleFactory.java
Labels: approved, size/XS, lgtm, area/data-plane

#3285 Install KEDA in tests
  control-plane/pkg/autoscaler/autoscaler_api.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  hack/update-keda.sh
  test/config/100-config-kafka-features.yaml
  test/e2e-common.sh
  test/keda/keda_setup.sh
  third_party/keda/keda.yaml
Labels: approved, lgtm, size/XXL, area/control-plane, area/test

#3305 Expose tls port for broker
  data-plane/config/broker/500-receiver.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#3308 Added Installation Docs for Loom Dispatcher and Receiver Implementations
  DEVELOPMENT.md
  data-plane/README.md
  docs/broker/Loom-Modules.md
Labels: approved, size/M, lgtm, area/data-plane

#3311 Deprecate calling kubetest2 via kntest
  go.mod
  go.sum
  test/e2e-tests.sh
  test/presubmit-tests.sh
  test/reconciler-tests.sh
  test/upgrade-tests.sh
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/performance-tests.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm, area/test

#3315 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/eapache/go-xerial-snappy/fuzz.go
  vendor/github.com/eapache/go-xerial-snappy/snappy.go
  vendor/github.com/go-logr/logr/.golangci.yaml
  vendor/github.com/go-logr/logr/discard.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/SECURITY.md
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/fse/decompress.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decodeheader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/README.md
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_amd64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_arm64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_asm.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_other.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.s
  vendor/github.com/klauspost/compress/zstd/matchlen_generic.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/github.com/openzipkin/zipkin-go/.golangci.yml
  vendor/github.com/openzipkin/zipkin-go/README.md
  vendor/gomodules.xyz/jsonpatch/v2/jsonpatch.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3306 Add the kafka-XXX.knative-eventing.svc as hostname
  data-plane/config/broker-tls/broker-ingress-tls-certificate.yaml
  data-plane/config/channel-tls/channel-ingress-tls-certificate.yaml
  data-plane/config/sink-tls/sink-ingress-tls-certificate.yaml
Labels: approved, size/XS, lgtm, area/data-plane
