Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-07, with the labels that each got.

#3178 Create composite prober
  control-plane/pkg/prober/composite_prober.go
  control-plane/pkg/prober/composite_prober_test.go
  control-plane/pkg/prober/prober.go
Labels: approved, lgtm, size/L, area/control-plane

#3186 Upgrade workflow's java version to 20
  .github/workflows/build-dependabot-pr.yaml
  .github/workflows/knative-java-test.yaml
  .github/workflows/knative-profile-data-plane.yaml
Labels: approved, size/XS, lgtm, area/test

#3196 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3203 Update the document to include the code formatter
  DEVELOPMENT.md
Labels: approved, size/M, lgtm

#3173 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3210 Increase PollTimings for TestBrokerConformance
  test/e2e_new/broker_conformance_test.go
Labels: approved, size/XS, lgtm, area/test

#3206 Remove the use of `KafkaProducer` from the dispatcher and use `ReactiveKafkaProducer` instead
  data-plane/THIRD-PARTY.txt
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedOffsetManagerBenchmark.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/ReactiveConsumerFactory.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/ReactiveKafkaConsumer.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/ReactiveKafkaProducer.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/ReactiveProducerFactory.java
  data-plane/dispatcher-vertx/pom.xml
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/Main.java
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxConsumerFactory.java
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxKafkaConsumer.java
  data-plane/dispatcher/pom.xml
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToHttpEndpointHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToKafkaTopicHandler.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/ConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleBuilder.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleContext.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/Main.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ProducerFactory.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/MockReactiveConsumerFactory.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/MockReactiveKafkaConsumer.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/ResponseToKafkaTopicHandlerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/AbstractOffsetManagerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManagerTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/ConsumerVerticleFactoryImplMock.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleFactoryImplTest.java
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/Main.java
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxKafkaProducer.java
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxProducerFactory.java
  data-plane/receiver-vertx/src/test/java/dev/knative/eventing/kafka/broker/receiververtx/impl/ReceiverVerticleTracingVertxImplTest.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/IngressProducer.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/Main.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverVerticleFactory.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/MockReactiveKafkaProducer.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/MockReactiveProducerFactory.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStoreTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTracingTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/handler/IngressRequestHandlerImplTest.java
  data-plane/tests/pom.xml
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/DataPlaneTest.java
Labels: approved, lgtm, size/L, area/data-plane

#3207 Remove `ConsumerRebalanceListener` from `ConsumerVerticleContext`
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/ConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleBuilder.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleContext.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/AbstractConsumerVerticleTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticleTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/FakeConsumerVerticleContext.java
Labels: approved, size/M, lgtm, area/data-plane

#3205 Update the document to include the code formatter
  DEVELOPMENT.md
Labels: approved, size/XS, lgtm

#3211 Adding the Loom base modules with empty files.
  data-plane/dispatcher-loom/pom.xml
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/LoomConsumerFactory.java
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/LoomKafkaConsumer.java
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/Main.java
  data-plane/pom.xml
  data-plane/receiver-loom/pom.xml
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducer.java
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/LoomProducerFactory.java
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/Main.java
Labels: approved, lgtm, size/L, area/data-plane, area/test

#3200 Updated comments explaining how the async prober works
  control-plane/pkg/prober/async_prober.go
Labels: approved, lgtm, size/S, area/control-plane

#3213 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/eventingtls/eventingtls.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3216 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/utils/secret.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3217 Include io.fabric8 kubernetes-client in maven-shade-plugin to prevent ClassNotFoundException
  data-plane/dispatcher-vertx/pom.xml
  data-plane/receiver-vertx/pom.xml
Labels: approved, lgtm, size/S, area/data-plane

#3209 Fix E2E common setup does not wait for cert manager
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, ok-to-test, area/test

#3208 Keypair rotation
  data-plane/THIRD-PARTY.txt
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/file/SecretWatcher.java
  data-plane/pom.xml
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverVerticleFactory.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTracingTest.java
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/DataPlaneTest.java
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#3212 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3222 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/e2e-common.sh
  vendor/knative.dev/reconciler-test/pkg/eventshub/assert/step.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/event_info.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/event_info_store.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/receiver/receiver.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/sender/sender.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3226 Strimzi operator 0.36.0 and Kafka 3.5.0
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#3225 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3223 Pass EventTypeAutoCreate enabled flag to the data plane
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  proto/contract.proto
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#3227 Eventing TLS: Configure certificates to force rotate private keys
  data-plane/config/broker-tls/broker-ingress-tls-certificate.yaml
  data-plane/config/channel-tls/channel-ingress-tls-certificate.yaml
  data-plane/config/sink-tls/sink-ingress-tls-certificate.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#3232 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/eventshub/sender/sender.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3231 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, lgtm, size/L

#3242 Update dependencies
  vendor/knative.dev/eventing/hack/update-cert-manager.sh
Labels: approved, size/XS, lgtm

#3241 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3245 [release-1.10] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/utils/secret.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/102-service.yaml
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/milestone/emitter_tracing.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3251 Don't use hardcoded namespace
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/XS, lgtm, area/control-plane
