Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-01, with the labels that each got.

#2860 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2863 Remove KinD e2e tests
  .github/workflows/kind-e2e.yaml
Labels: approved, lgtm, size/L, area/test

#2721 Consume vertx through quarkus BOM
  data-plane/THIRD-PARTY.txt
  data-plane/core/pom.xml
  data-plane/dispatcher/pom.xml
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerDeployerVerticleTest.java
  data-plane/pom.xml
  data-plane/receiver/pom.xml
  data-plane/tests/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#2866 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/reconciler/testing/deployment.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2867 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2872 Improve ConsumerGroup finalization when missing resources
  control-plane/pkg/counter/counter.go
  control-plane/pkg/counter/counter_test.go
  control-plane/pkg/prober/cache.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, lgtm, size/L, area/control-plane

#2874 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, lgtm, size/S

#2873 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2876 Remove vendoring of knative.dev/eventing-kafka/test/rekt
  test/e2e_new/features/kafka_source_create_secrets_after.go
  test/e2e_new_channel/kafka_channel_test.go
  test/rekt/features/kafkachannel/dataplane.go
  test/rekt/features/kafkachannel/readiness.go
  test/rekt/features/kafkachannel/util.go
  test/rekt/resources/kafkachannel/kafkachannel.go
  test/rekt/resources/kafkachannel/kafkachannel.yaml
  test/rekt/resources/kafkasource/kafkasource.go
  test/rekt/resources/kafkasource/kafkasource.yaml
  test/rekt/resources/kafkatopic/topic.go
  test/rekt/resources/kafkatopic/topic.yaml
  test/rekt/resources/resetoffset/resetoffset.go
  test/rekt/resources/resetoffset/resetoffset.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/S, area/test

#2878 Migrate eventing-kafka channel smoke tests
  go.mod
  test/e2e_source/helpers/channel_subscription_ready_test_helper.go
  test/e2e_source/helpers/kafka_binding_test_helper.go
  test/e2e_source/helpers/kafka_helper.go
  test/e2e_source/helpers/kafka_source.go
  test/e2e_source/helpers/kafka_source_test_helper.go
  test/e2e_source/kafka_source_test.go
  test/upgrade/continual.go
  test/upgrade/continual/broker.go
  test/upgrade/continual/channel.go
  test/upgrade/continual/sink_source.go
  test/upgrade/continual/types.go
  test/upgrade/continual/verification.go
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/smoke.go
  vendor/knative.dev/eventing-kafka/pkg/common/tracing/tracing.go
  vendor/knative.dev/eventing-kafka/test/upgrade/README.md
  vendor/knative.dev/eventing-kafka/test/upgrade/continual.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/channel-config.toml
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/kafkasender.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/source-config.toml
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/source.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/types.go
  vendor/knative.dev/eventing-kafka/test/upgrade/continual/verification.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/eventing_core.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/githead.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/shell.go
  vendor/knative.dev/eventing-kafka/test/upgrade/installation/stable.go
  vendor/knative.dev/eventing-kafka/test/upgrade/postdowngrade.go
  vendor/knative.dev/eventing-kafka/test/upgrade/postupgrade.go
  vendor/knative.dev/eventing-kafka/test/upgrade/preupgrade.go
  vendor/knative.dev/eventing-kafka/test/upgrade/smoke.go
  vendor/knative.dev/eventing-kafka/test/upgrade/suite.go
  vendor/knative.dev/eventing-kafka/test/upgrade/test_main.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/test

#2880 Add source smoke tests
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/smoke.go
  test/upgrade/suite.go
Labels: approved, size/M, lgtm, area/test

#2879 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2882 Move test/e2e_new rekt resources and features to test/rekt
  test/e2e_new/broker_conformance_test.go
  test/e2e_new/broker_delete_config_map_test.go
  test/e2e_new/broker_not_ready_test.go
  test/e2e_new/broker_test.go
  test/e2e_new/dls_test.go
  test/e2e_new/kafka_source_test.go
  test/e2e_new/lease_test.go
  test/e2e_new/tracing_test.go
  test/rekt/features/broker_deleted_recreated.go
  test/rekt/features/featuressteps/broker.go
  test/rekt/features/featuressteps/copy_secret.go
  test/rekt/features/kafka_source_create_secrets_after.go
  test/rekt/features/leases.go
  test/rekt/features/namespaced_broker.go
  test/rekt/features/trigger_offset_reset.go
  test/rekt/resources/configmap/broker/broker_config.go
  test/rekt/resources/configmap/broker/broker_config.yaml
  test/rekt/resources/configmap/copy.go
  test/rekt/resources/configmap/delete.go
  test/rekt/resources/configmap/log.go
  test/rekt/resources/configmap/wait.go
  test/rekt/resources/kafkasink/kafkasink.go
  test/rekt/resources/kafkasink/kafkasink.yaml
  test/rekt/resources/kafkasink/kafkasink_test.go
Labels: approved, size/M, lgtm, area/test

#2883 Creating an actual topic
  test/rekt/features/broker_deleted_recreated.go
Labels: approved, size/XS, lgtm, area/test

#2887 Fix Consumer resource finalization
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  test/e2e_new/kafka_source_test.go
  test/rekt/features/kafka_source.go
  test/rekt/features/namespace.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2886 Tests for broker broker non existing external topic
  test/e2e_new/broker_test.go
  test/rekt/features/broker_deleted_recreated.go
Labels: approved, size/M, lgtm, area/test

#2891 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#2896 Fix delete namespace with a namespaced broker stuck on finalizer
  control-plane/pkg/prober/cache.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/reconciler/broker/broker.go
  test/e2e_new/broker_test.go
  test/rekt/features/namespace.go
  test/rekt/features/namespaced_broker.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2897 [release-1.8] Fix delete namespace with a namespaced broker stuck on finalizer (#2896)
  control-plane/pkg/prober/cache.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/reconciler/broker/broker.go
  test/e2e_new/broker_test.go
  test/e2e_new/features/namespace.go
  test/e2e_new/features/namespaced_broker.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2898 Explicit error message for failures after rebuilding it from status annotations
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
Labels: approved, size/XS, lgtm, area/control-plane

#2903 Make changes to brokerconfig func
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, lgtm, size/S, area/control-plane

#2904 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2907 Refactoring the topic config, passing directly in the broker config map
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2911 Don't set ownerRefs on cluster scoped resources
  control-plane/pkg/reconciler/broker/namespaced_broker.go
Labels: approved, size/M, lgtm, area/control-plane

#2901 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, area/test, skip-review

#2912 chore: Move up a check for errors on fetching the broker config map
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/XS, lgtm, area/control-plane

#2913 nit: debug log the secret for external and internal topics
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, lgtm, size/S, area/control-plane

#2910 Improve finalization on missing secret ref
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  test/e2e_new/broker_test.go
  test/rekt/features/broker_deleted_recreated.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#2915 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2916 Remove `knative.dev/eventing-kafka-broker/test/rekt/resources/resetoffset`
  test/e2e_new_channel/kafka_channel_test.go
  test/rekt/features/kafkachannel/dataplane.go
  test/rekt/features/kafkachannel/util.go
  test/rekt/resources/resetoffset/resetoffset.go
  test/rekt/resources/resetoffset/resetoffset.yaml
Labels: approved, lgtm, size/L, area/test

#2853 Fix finalization problem when broker has incorrect topic config
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  test/e2e_new/bogus_config/bogus_config.yaml
  test/e2e_new/bogus_config/install.go
  test/e2e_new/broker_test.go
  test/rekt/features/broker_deleted_recreated.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2822 Update to Strimzi 0.32 and Kafkas 3.3.x
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#2921 Strimzi 0.33 update
  test/kafka/kafka_setup.sh
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#2906 Simplify `getAuthConfigFromSecret` and `extractProtocol`
  control-plane/pkg/config/eventingkafkaconfig.go
  control-plane/pkg/security/config.go
  control-plane/pkg/security/secrets_provider_legacy_channel_secret.go
  control-plane/pkg/security/secrets_provider_legacy_channel_secret_test.go
Labels: approved, lgtm, size/L, kind/cleanup, area/control-plane

#2918 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#2919 Improve source reconciler KEDA enabled check
  control-plane/cmd/kafka-controller/main.go
  control-plane/cmd/kafka-source-controller/main.go
  control-plane/pkg/autoscaler/keda/keda.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/source/controller.go
  control-plane/pkg/reconciler/source/controller_test.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/source/testdata/config-kafka-features.yaml
  control-plane/pkg/reconciler/testing/factory.go
  control-plane/pkg/reconciler/testing/objects_common.go
  test/e2e_new/kafka_source_test.go
  test/rekt/features/kafka_source.go
  test/rekt/resources/kafkasource/kafkasource.go
  test/rekt/resources/kafkasource/kafkasource.yaml
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2923 Fix evictor panic
  control-plane/pkg/reconciler/consumergroup/evictor.go
  control-plane/pkg/reconciler/consumergroup/evictor_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2924 Enforce owner references on contract ConfigMap creation
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
Labels: approved, size/M, lgtm, area/control-plane

#2925 Perform type assertion on conversion
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, lgtm, size/S, area/control-plane

#2922 Going w/ Apache Kafka 3.3.2
  test/kafka/kafka-ephemeral.yaml
Labels: approved, size/XS, lgtm, area/test
