Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-06, with the labels that each got.

#3132 Unique broker name in broker conformance tests
  test/e2e_new/broker_conformance_test.go
Labels: approved, size/XS, lgtm, area/test

#3008 Conformance tests against MTChannelBasedBroker
  test/e2e_new/broker_conformance_test.go
  test/e2e_new/main_test.go
  test/rekt/resources/configmap/broker/broker_config.go
  test/rekt/resources/configmap/broker/broker_config.yaml
Labels: approved, size/M, lgtm, area/test

#3135 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3131 ReactiveKafkaProducer Interface and it's Vert.x Implementation
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxKafkaProducer.java
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxProducerFactory.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/ReactiveKafkaProducer.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/ReactiveProducerFactory.java
Labels: approved, lgtm, size/L, area/data-plane

#3130 Support TLS in prober
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
Labels: approved, lgtm, size/L, area/control-plane

#3137 LoggingSpanExporter constructor was Deprecated replace it with prefered `create()`
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTracingTest.java
Labels: approved, size/XS, lgtm, area/data-plane

#3123 Support https in kafka sink controller
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_lifecycle.go
  control-plane/pkg/apis/eventing/v1alpha1/kafka_sink_types.go
  control-plane/pkg/apis/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/receiver/address.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/controller_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/testing/objects_sink.go
  vendor/knative.dev/eventing/pkg/eventingtls/eventingtlstesting/eventingtlstesting.go
  vendor/knative.dev/pkg/injection/clients/namespacedkube/informers/core/v1/secret/fake/fake.go
  vendor/knative.dev/pkg/injection/clients/namespacedkube/informers/factory/fake/fake.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane

#3122 Support exposing https address ekb controller
  control-plane/pkg/receiver/address.go
  control-plane/pkg/receiver/address_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/controller_test.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
Labels: approved, lgtm, size/XL, area/control-plane

#3145 Remove redundant code
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
Labels: approved, size/M, lgtm, area/control-plane

#3111 Update e2e tests to have default value for BROKER_CLASS
  test/e2e-tests.sh
Labels: approved, size/XS, lgtm, ok-to-test, area/test

#3146 Support rotating CA certs in prober
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/prober.go
Labels: approved, lgtm, size/L, area/control-plane

#3157 Allow defining topic prefixes
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-features.yaml
  control-plane/pkg/apis/config/features.go
  control-plane/pkg/apis/config/features_test.go
  control-plane/pkg/apis/config/testdata/config-kafka-features.yaml
  test/config/100-config-kafka-features.yaml
Labels: approved, lgtm, size/L, area/control-plane, area/test

#3158 Increased tick time to improve test flakiness
  control-plane/pkg/prober/async_prober_test.go
Labels: approved, lgtm, size/S, area/control-plane

#3156 Update scripts to deploy/release cert manager resources
  .gitignore
  hack/artifacts-env.sh
  hack/data-plane.sh
  hack/release.sh
  test/e2e-common.sh
Labels: approved, lgtm, size/S, area/test

#3099 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, lgtm, size/XL

#3151 Bumping strimzi to latest operator version
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#3168 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3159 `ReactiveKafkaConsumer` Interface and it's Vert.x Implementation
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxConsumerFactory.java
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxKafkaConsumer.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/ReactiveConsumerFactory.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/ReactiveKafkaConsumer.java
Labels: approved, lgtm, size/L, ok-to-test, area/data-plane

#3125 Eventing TLS: support exposing https address in KafkaChannel controller
  control-plane/pkg/receiver/address.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2_test.go
  control-plane/pkg/reconciler/testing/objects_channel.go
Labels: approved, lgtm, size/XL, area/control-plane

#3126 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta1/eventtype_conversion.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta1/eventtype_defaults.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta1/eventtype_types.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta1/zz_generated.deepcopy.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_defaults.go
  vendor/knative.dev/eventing/pkg/apis/eventing/v1beta2/eventtype_lifecycle.go
  vendor/knative.dev/eventing/pkg/kncloudevents/http_client_new.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/eventtype.go
  vendor/knative.dev/eventing/test/rekt/features/featureflags/featureflags.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/pkg/environment/client_config.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3147 update crd for kafkasource
  control-plane/config/eventing-kafka-broker/100-source/100-kafka-source.yaml
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane

#3179 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3180 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/feature/flag_names.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3184 Send namespace header in MT components
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
Labels: approved, size/XS, lgtm, area/data-plane

#3124 Eventing TLS: Pass CA certs to the data plane
  control-plane/pkg/contract/contract.pb.go
  control-plane/pkg/core/config/utils.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/testing/objects_source.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  go.mod
  proto/contract.proto
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-cleanhttp/LICENSE
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-cleanhttp/README.md
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-cleanhttp/cleanhttp.go
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-cleanhttp/doc.go
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-cleanhttp/handlers.go
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-retryablehttp/.gitignore
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-retryablehttp/LICENSE
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-retryablehttp/Makefile
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-retryablehttp/README.md
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-retryablehttp/client.go
  third_party/VENDOR-LICENSE/github.com/hashicorp/go-retryablehttp/roundtripper.go
  vendor/knative.dev/eventing/hack/update-cert-manager.sh
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane
