Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-02, with the labels that each got.

#2934 Exclude slf4j-jboss-logmanager from quarkus-vertx for logging
  data-plane/THIRD-PARTY.txt
  data-plane/core/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane

#2920 Fix tests + upgrade dependencies
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  go.mod
  go.sum
  test/e2e_new/broker_conformance_test.go
  test/e2e_new/broker_delete_config_map_test.go
  test/e2e_new/dls_test.go
  test/e2e_new/ordered_test.go
  test/e2e_new_channel/kafka_channel_upstream_test.go
  test/upgrade/continual/broker.go
  vendor/github.com/cloudevents/sdk-go/v2/alias.go
  vendor/github.com/cloudevents/sdk-go/v2/protocol/http/abuse_protection.go
  vendor/github.com/cloudevents/sdk-go/v2/protocol/http/protocol_lifecycle.go
  vendor/knative.dev/eventing/pkg/apis/sources/v1/apiserver_types.go
  vendor/knative.dev/eventing/pkg/apis/sources/v1/zz_generated.deepcopy.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/apiserversouce.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/subscription.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/test/e2e/helpers/broker_channel_flow_helper.go
  vendor/knative.dev/eventing/test/experimental/features/delivery_timeout/channel.go
  vendor/knative.dev/eventing/test/lib/logexporter.go
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/eventing/test/rekt/features/broker/source_to_sink.go
  vendor/knative.dev/eventing/test/rekt/features/channel/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/channel/data_plane.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/rekt/features/channel/helpers.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/trigger_sink_resolution.go
  vendor/knative.dev/eventing/test/rekt/resources/channel_impl/channel_impl.go
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/README.md
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/eventlibrary.go
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/eventlibrary.yaml
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/events/doc.go
  vendor/knative.dev/eventing/test/rekt/resources/eventlibrary/events/three.ce
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/knative.dev/pkg/test/logstream/v2/interface.go
  vendor/knative.dev/pkg/test/logstream/v2/stream.go
  vendor/knative.dev/pkg/test/upgrade/functions.go
  vendor/knative.dev/pkg/test/upgrade/logger.go
  vendor/knative.dev/pkg/test/upgrade/private_types.go
  vendor/knative.dev/pkg/test/upgrade/steps.go
  vendor/knative.dev/pkg/test/upgrade/suite_execution.go
  vendor/knative.dev/pkg/test/upgrade/types.go
  vendor/knative.dev/reconciler-test/pkg/environment/execution.go
  vendor/knative.dev/reconciler-test/pkg/environment/logging.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/prober.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/rbac.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/sender/sender.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane, area/test

#2935 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, size/XS, lgtm

#2936 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2937 Remove unused dependency to eventing event-library test-image
  hack/tools.go
  vendor/knative.dev/eventing/test/test_images/event-library/kodata/events/doc.go
  vendor/knative.dev/eventing/test/test_images/event-library/kodata/events/three.ce
  vendor/knative.dev/eventing/test/test_images/event-library/main.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2938 [Automated] Update eventing-kafka-broker-eventing-kafka nightly
  third_party/eventing-kafka-latest/channel-crds.yaml
  third_party/eventing-kafka-latest/source-crd.yaml
Labels: approved, size/XS, lgtm

#2939 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2941 [main] Update community files
  OWNERS_ALIASES
Labels: size/M, skip-review

#2944 Using latest Strimzi 0.33.1
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, size/M, lgtm, area/test

#2932 Migrate `TestBrokerTriggersSink` broker e2e test to new reconciler-test framework
  go.mod
  go.sum
  test/e2e_broker/broker_trigger_sink_test.go
  test/e2e_new/broker_trigger_sink_test.go
  test/rekt/features/kafka_sink.go
  test/rekt/resources/kafkasink/kafkasink.go
  vendor/knative.dev/reconciler-test/pkg/k8s/job.go
  vendor/knative.dev/reconciler-test/pkg/resources/job/job.go
  vendor/knative.dev/reconciler-test/pkg/resources/job/job.yaml
  vendor/knative.dev/reconciler-test/pkg/resources/job/options.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/test

#2931 Migrate `TestBrokerTrigger` and `TestBrokerWithConfig` broker e2e test to new rekt test
  test/e2e_broker/broker_trigger_test.go
  test/e2e_new/broker_config_test.go
  test/pkg/kafka/util.go
  test/pkg/kafka/verify_num_partitions_replication.go
  test/rekt/features/broker_config.go
  test/rekt/resources/kafkatopic/topic.go
  test/rekt/resources/kafkatopic/types.go
  test/test_images/partitions-replication-verifier/partitions_replication_verifier.go
  test/test_images/partitions-replication-verifier/pod.yaml
Labels: approved, lgtm, size/XL, area/control-plane, area/test

#2947 Migrate from `knative.dev/reconciler-test/resources/svc` to `knative.dev/reconciler-test/pkg/resources/service`
  go.mod
  go.sum
  test/e2e_new/broker_delete_config_map_test.go
  test/e2e_new/dls_extensions_test.go
  test/e2e_new/dls_test.go
  test/e2e_new/ordered_test.go
  test/e2e_new/tracing_test.go
  test/e2e_new/trigger_finalizer_test.go
  test/rekt/features/broker_deleted_recreated.go
  test/rekt/features/featuressteps/broker.go
  test/rekt/features/kafka_source.go
  test/rekt/features/kafka_source_create_secrets_after.go
  test/rekt/features/trigger_offset_reset.go
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/subscription_defaults.go
  vendor/knative.dev/eventing/pkg/duck/listable.go
  vendor/knative.dev/eventing/pkg/kncloudevents/message_sender.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/subscription.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/autoscaler.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/pkg/utils/secret.go
  vendor/knative.dev/eventing/test/e2e/helpers/broker_event_transformation_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_chain_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_dls_test_helper.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/broker/broker.go
  vendor/knative.dev/hack/shell/executor.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/knative.dev/reconciler-test/pkg/resources/service/options.go
  vendor/knative.dev/reconciler-test/pkg/resources/service/service.go
  vendor/knative.dev/reconciler-test/pkg/resources/service/service.yaml
  vendor/knative.dev/reconciler-test/resources/svc/service.go
  vendor/knative.dev/reconciler-test/resources/svc/service.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, kind/cleanup, area/test

#2950 Increase receivers memory requests
  data-plane/config/broker/500-receiver.yaml
  data-plane/config/channel/500-receiver.yaml
  data-plane/config/sink/500-receiver.yaml
Labels: approved, size/XS, lgtm, area/data-plane

#2952 Skip `TestBrokerTiggersSink` test
  test/e2e_new/broker_trigger_sink_test.go
Labels: approved, size/XS, lgtm, area/test

#2960 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2943 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  third_party/VENDOR-LICENSE/knative.dev/reconciler-test/pkg/LICENSE
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/subscription_defaults.go
  vendor/knative.dev/eventing/pkg/duck/listable.go
  vendor/knative.dev/eventing/pkg/kncloudevents/message_sender.go
  vendor/knative.dev/eventing/pkg/utils/secret.go
  vendor/knative.dev/eventing/test/e2e/helpers/broker_event_transformation_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_chain_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_dls_test_helper.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/reconciler-test/pkg/environment/flags.go
  vendor/knative.dev/reconciler-test/pkg/environment/images.go
  vendor/knative.dev/reconciler-test/pkg/environment/standard.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/prober.go
  vendor/knative.dev/reconciler-test/pkg/images/file/file.go
  vendor/knative.dev/reconciler-test/pkg/manifest/options.go
  vendor/knative.dev/reconciler-test/pkg/resources/job/options.go
  vendor/knative.dev/reconciler-test/pkg/resources/service/options.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#2965 Remove mention for kind.local in Development docs
  DEVELOPMENT.md
Labels: approved, size/XS, lgtm

#2963 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#2962 Properly handle KafkaSource earliest offset configuration
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_source.go
  test/e2e_new/kafka_source_test.go
  test/rekt/features/kafka_sink.go
  test/rekt/features/kafka_source.go
  test/rekt/resources/kafkasink/kafkasink.go
  test/rekt/resources/kafkasource/kafkasource.go
  test/rekt/resources/kafkasource/kafkasource.yaml
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2966 Bump Quarkus BOM to 2.13.7.Final
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, size/M, lgtm, area/data-plane

#2964 [main] Upgrade to latest dependencies
  control-plane/pkg/client/injection/reconciler/bindings/v1beta1/kafkabinding/reconciler.go
  control-plane/pkg/client/injection/reconciler/eventing/v1alpha1/kafkasink/reconciler.go
  control-plane/pkg/client/injection/reconciler/messaging/v1beta1/kafkachannel/reconciler.go
  control-plane/pkg/client/injection/reconciler/sources/v1beta1/kafkasource/reconciler.go
  control-plane/pkg/client/internals/kafka/injection/reconciler/eventing/v1alpha1/consumer/reconciler.go
  control-plane/pkg/client/internals/kafka/injection/reconciler/eventing/v1alpha1/consumergroup/reconciler.go
  go.mod
  go.sum
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_reconciler.go
  vendor/knative.dev/pkg/injection/health_check.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/metrics/prometheus_exporter.go
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/profiling/server.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/reconciler-test/pkg/environment/istio.go
  vendor/knative.dev/reconciler-test/pkg/environment/namespace.go
  vendor/knative.dev/reconciler-test/pkg/environment/standard.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/resources.go
  vendor/knative.dev/reconciler-test/pkg/manifest/options.go
  vendor/knative.dev/reconciler-test/pkg/resources/job/job.go
  vendor/knative.dev/reconciler-test/pkg/resources/job/options.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#2949 Fix leaking cluster scoped resources in namespaced broker
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/testing/listers.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/util/lock_map.go
  control-plane/pkg/util/lock_map_test.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/namespace/namespace.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane

#2972 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2975 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#2967 [release-1.9] Properly handle KafkaSource initial offset (#2962)
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/testing/objects_source.go
  test/e2e_new/kafka_source_test.go
  test/rekt/features/kafka_sink.go
  test/rekt/features/kafka_source.go
  test/rekt/resources/kafkasink/kafkasink.go
  test/rekt/resources/kafkasource/kafkasource.go
  test/rekt/resources/kafkasource/kafkasource.yaml
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2884 Stream logs from system namespace in upgrade tests
  test/upgrade-tests.sh
  test/upgrade/upgrade_test.go
Labels: approved, lgtm, size/S, area/test

#2981 Fix bash scripts import paths
  hack/control-plane.sh
  hack/data-plane.sh
  test/e2e-common.sh
Labels: approved, lgtm, size/S, area/test

#2946 Migrate broker SASL/SSL e2e tests to new rekt test framework
  test/e2e_broker/broker_sasl_ssl_test.go
  test/e2e_new/broker_sasl_ssl_test.go
  test/rekt/features/broker_auth.go
  test/rekt/resources/kafkaauthsecret/kafkaauthsecret.go
  third_party/VENDOR-LICENSE/knative.dev/reconciler-test/LICENSE
  vendor/knative.dev/reconciler-test/pkg/resources/secret/options.go
  vendor/knative.dev/reconciler-test/pkg/resources/secret/secret.go
  vendor/knative.dev/reconciler-test/pkg/resources/secret/secret.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/test

#2987 Remove unneeded event-flaker test image import
  hack/tools.go
  vendor/knative.dev/eventing/test/test_images/event-flaker/main.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#2992 Use kubernetes.io/metadata.name for namespace selector
  control-plane/config/eventing-kafka-broker/200-webhook/400-webhook-pod-defaulting.yaml
Labels: approved, size/XS, lgtm, area/control-plane
