Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-10, with the labels that each got.

#3367 [release-1.11] Cherry-pick Modify the existing fileWatcher to make it more generic (#3325)
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventbus/ContractPublisher.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/file/FileWatcher.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/file/SecretWatcher.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/eventbus/ContractPublisherTest.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/file/FileWatcherTest.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/Main.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/UnorderedConsumerTest.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/Main.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTest.java
Labels: approved, lgtm, size/XL, area/data-plane

#3266 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, lgtm, size/XL

#3370 Improve KEDA installed check efficiency
  control-plane/pkg/autoscaler/keda/keda.go
Labels: approved, size/XS, lgtm, area/control-plane

#3379 Moved new trigger tests to e2e_new, added new tests
  test/e2e_new/new_trigger_filters_test.go
Labels: approved, size/M, lgtm, area/test

#3296 Added base SubscriptionsAPI filters benchmarks
  data-plane/benchmarks/resources/filter-class-list.txt
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/NotFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/PrefixFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/SuffixFilterBenchmark.java
Labels: approved, lgtm, size/L, area/data-plane

#3380 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3372 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/hack/create-kind-cluster.sh
  vendor/knative.dev/pkg/environment/client_config.go
  vendor/modules.txt
Labels: approved, size/M, lgtm, area/control-plane

#3384 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3381 Refactor filters to use lists instead of sets
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/AllFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/AnyFilterBenchmark.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AllFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AnyFilter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleBuilder.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AllFilterTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/filter/subscriptionsapi/AnyFilterTest.java
Labels: approved, size/M, lgtm, area/data-plane

#3377 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3252 use the composite prober with the channel
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane

#3396 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/eventshub/options.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/utils.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3399 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3400 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/iam/CHANGES.md
  vendor/cloud.google.com/go/iam/apiv1/iampb/policy.pb.go
  vendor/cloud.google.com/go/internal/.repo-metadata-full.json
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/golang.org/x/tools/imports/forward.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_portable.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/field_info.pb.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#3404 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/eventing/v1/test_helper.go
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/subscription_lifecycle.go
  vendor/knative.dev/eventing/pkg/apis/sources/v1/apiserver_lifecycle.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/apiserversouce.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/subscription.go
  vendor/knative.dev/pkg/apiextensions/storageversion/migrator.go
  vendor/knative.dev/pkg/environment/client_config.go
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3395 E2E tests for sink: TLS key pair rotation
  control-plane/config/eventing-kafka-broker/100-sink/100-kafka-sink.yaml
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/controller_test.go
  data-plane/config/sink/500-receiver.yaml
  test/e2e_new/sink_eventing_tls_test.go
  test/rekt/features/sink_tls.go
  test/rekt/resources/kafkasink/kafkasink.go
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test

#3411 Bump strimzi 0.38.0 and apache kafka 3.6.0
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#3412 Update dependencies
  go.mod
  go.sum
  test/rekt/resources/kafkasink/kafkasink.go
  vendor/knative.dev/eventing/pkg/auth/token_provider.go
  vendor/knative.dev/eventing/pkg/auth/utils.go
  vendor/knative.dev/eventing/test/rekt/resources/addressable/addressable.go
  vendor/knative.dev/eventing/test/rekt/resources/broker/broker.go
  vendor/knative.dev/eventing/test/rekt/resources/channel_impl/channel_impl.go
  vendor/knative.dev/reconciler-test/pkg/environment/namespace.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/options.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/100-sa.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/101-rbac.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/rbac.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/receiver/receiver.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/utils.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/feature/logging.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/test

#3414 [release-1.11] Updating to latest Quarkus (3.2.7.Final)
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, size/M, lgtm, area/data-plane

#3415 Update ConsumerGroup status on finalization for better error reporing
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, size/M, lgtm, area/control-plane

#3417 [release-1.11] Update ConsumerGroup status on finalization for better error reporting (#3415)
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, size/M, lgtm, area/control-plane

#3386 Add metrics to monitor the ConsumerGroup replicas changes
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, size/M, lgtm, area/control-plane

#3421 Made the async prober private
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/composite_prober.go
  control-plane/pkg/prober/composite_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/prober/prober_test.go
  control-plane/pkg/prober/probertesting/mock_prober.go
  control-plane/pkg/prober/probertesting/mock_prober_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
Labels: approved, lgtm, size/L, area/control-plane

#3410 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/feature/features.go
  vendor/knative.dev/eventing/pkg/apis/sources/v1/ping_lifecycle.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/pingsource.go
  vendor/knative.dev/eventing/test/rekt/features/new_trigger_filters/feature.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/reconciler-test/pkg/environment/namespace.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/options.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/100-sa.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/101-rbac.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/rbac.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/receiver/receiver.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/utils.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3422 Fix gofmt issue
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
Labels: approved, size/XS, lgtm, area/control-plane

#3405 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, lgtm, size/L

#3425 Update dataplane dependencies
  data-plane/THIRD-PARTY.txt
  data-plane/benchmarks/pom.xml
  data-plane/pom.xml
Labels: approved, size/M, lgtm, area/data-plane, area/test

#3424 [release-1.10] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/reconciler-test/pkg/environment/namespace.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/100-sa.yaml
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/rbac.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/feature/logging.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3432 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3426 Update Quarkus 3.2.x and align the vertx lib to it
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, size/M, lgtm, area/data-plane

#3433 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L

#3435 Add test for multiple sinks and multiple triggers
  test/e2e_new/new_trigger_filters_test.go
Labels: approved, lgtm, size/S, area/test

#3406 E2E tests for channel: TLS key pair rotation
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  control-plane/pkg/reconciler/channel/resources/service.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  test/e2e_new/channel_eventing_tls_test.go
  test/rekt/features/channel_tls.go
  test/rekt/resources/kafkachannel/kafkachannel.go
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test
