Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2023-03, with the labels that each got.

#2991 Fix linting issue from usage of deprecated zipkin variable
  test/pkg/tracing/zipkin.go
Labels: approved, size/XS, lgtm, area/test

#2990 Remove skipped `BrokerWithManyTriggers` test
  test/e2e_broker/broker_with_many_triggers_test.go
Labels: approved, size/M, lgtm, kind/cleanup, area/test

#2989 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/cmd/event_display/main.go
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/subscription_defaults.go
  vendor/knative.dev/eventing/pkg/client/injection/reconciler/eventing/v1/broker/controller.go
  vendor/knative.dev/eventing/pkg/client/injection/reconciler/eventing/v1/broker/reconciler.go
  vendor/knative.dev/eventing/pkg/client/injection/reconciler/eventing/v1/trigger/controller.go
  vendor/knative.dev/eventing/pkg/client/injection/reconciler/eventing/v1/trigger/reconciler.go
  vendor/knative.dev/eventing/pkg/duck/listable.go
  vendor/knative.dev/eventing/pkg/kncloudevents/message_sender.go
  vendor/knative.dev/eventing/pkg/utils/secret.go
  vendor/knative.dev/eventing/test/e2e/helpers/broker_event_transformation_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/broker_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_chain_test_helper.go
  vendor/knative.dev/eventing/test/e2e/helpers/channel_dls_test_helper.go
  vendor/knative.dev/eventing/test/experimental/features/new_trigger_filters/filters.go
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/knative.dev/eventing/test/rekt/features/broker/readyness.go
  vendor/knative.dev/eventing/test/rekt/features/broker/source_to_sink.go
  vendor/knative.dev/eventing/test/rekt/features/channel/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/channel/features.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/control_plane.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/flaker/flaker.go
  vendor/knative.dev/eventing/test/rekt/resources/flaker/flaker.yaml
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.go
  vendor/knative.dev/eventing/test/rekt/resources/svc/service.yaml
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#2979 Do not inject namespace to additional resources using Manifestival's namespace injection
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  test/rekt/features/namespaced_broker.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#2995 Migrate `TestBrokerRedelivery` test to rekt test framework
  test/e2e_broker/broker_redelivery_test.go
  test/e2e_new/broker_redelivery_test.go
Labels: approved, lgtm, size/L, kind/cleanup, area/test

#2996 Add `TestBrokerWithManyTriggers` e2e test
  test/e2e_new/broker_with_many_triggers_test.go
  test/reconciler-tests.sh
Labels: approved, size/M, lgtm, area/test

#2988 Migrate `TestEventTransformationForTriggerV1BrokerV1` broker e2e test to rekt test framework
  test/e2e-common.sh
  test/e2e_new/broker_event_transformation_test.go
  test/e2e_new_channel/main_test.go
  test/experimental/main_test.go
Labels: approved, size/M, lgtm, area/test

#3001 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3000 TracingHeaders test waits for both triggers to be ready
  test/e2e_new/tracing_test.go
Labels: approved, size/XS, lgtm, area/test

#3003 Remove old broker conformance tests
  go.mod
  go.sum
  test/e2e_broker/conformance/control_plane_conformance_test.go
  test/e2e_broker/conformance/main_test.go
  vendor/knative.dev/eventing/pkg/apis/duck/v1/channelable_types.go
  vendor/knative.dev/eventing/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/eventing/test/rekt/features/broker/control_plane.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.go
  vendor/knative.dev/eventing/test/rekt/resources/containersource/containersource.yaml
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/reconciler-test/pkg/environment/flags.go
  vendor/knative.dev/reconciler-test/pkg/environment/images.go
  vendor/knative.dev/reconciler-test/pkg/environment/interfaces.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/environment/namespace.go
  vendor/knative.dev/reconciler-test/pkg/environment/standard.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/resources/service/service.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/test

#3004 Remove old broker e2e test directory
  test/e2e-tests.sh
  test/e2e_broker/main_test.go
Labels: approved, size/M, lgtm, area/test

#3006 Fix: Experemental filters `Any`Filter working bug
  control-plane/pkg/contract/subscriptionsapi.go
  control-plane/pkg/contract/subscriptionsapi_test.go
Labels: approved, lgtm, size/S, ok-to-test, area/control-plane

#3013 [main] Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Labels: size/S, area/test, skip-review

#2971 Added delivery to kafkasource spec
  control-plane/pkg/apis/sources/v1beta1/kafka_defaults.go
  control-plane/pkg/apis/sources/v1beta1/kafka_types.go
  control-plane/pkg/apis/sources/v1beta1/zz_generated.deepcopy.go
Labels: approved, size/XS, lgtm, ok-to-test, area/control-plane

#3017 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, area/test, skip-review

#3023 Fix broken initial offset on reset on a non64 bit boundary
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManagerTest.java
Labels: approved, size/M, lgtm, ok-to-test, area/data-plane

#2976 Bump to Strimzi 0.34.0 and using kafka 3.4
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#3026 [release-1.9] Conformance tests against MTChannelBasedBroker
  test/e2e_new/main_test.go
  test/rekt/features/broker_deleted_recreated.go
  test/rekt/resources/configmap/broker/broker_config.go
  test/rekt/resources/configmap/broker/broker_config.yaml
Labels: approved, size/M, lgtm, area/test

#3024 Pass delivery spec to consumer group + unit tests
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_source.go
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane
