Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2024-01, with the labels that each got.

#3556 Remove reference for consolidated KafkaChannel and distributed KafkaChannel in README
  docs/channel/README.md
Labels: approved, lgtm, size/S, ok-to-test

#3559 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3562 Fix flaky test failures because of single partition configmaps having the same name
  test/e2e_new/dls_extensions_test.go
  test/e2e_new/new_trigger_filters_test.go
  test/e2e_new/ordered_test.go
  test/e2e_new/single_partition_config/install.go
Labels: approved, size/M, lgtm, area/test

#3566 Execute update-cert-manager.sh by calling bash directly
  hack/update-codegen.sh
Labels: approved, size/XS, lgtm

#3568 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3540 Add gc profiling to the benchmarks
  data-plane/benchmarks/run.sh
Labels: approved, size/XS, lgtm, area/data-plane

#3508 [release-1.12] Going to logback 1.4.14
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane

#3549 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, size/L, skip-review

#3590 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3593 skip TestBrokerWithConfig
  test/e2e_new/broker_config_test.go
Labels: approved, size/XS, lgtm, area/test

#3591 [Automated] Update eventing-kafka-broker-eventing nightly
  data-plane/config/broker-tls/broker-ingress-tls-certificate.yaml
  data-plane/config/channel-tls/channel-ingress-tls-certificate.yaml
  data-plane/config/sink-tls/sink-ingress-tls-certificate.yaml
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, lgtm, size/L, area/data-plane, skip-review

#3598 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  test/e2e-common.sh
  third_party/cert-manager/00-namespace.yaml
  third_party/cert-manager/01-cert-manager.yaml
  third_party/cert-manager/02-cert-manager.yaml
  third_party/cert-manager/02-trust-manager.yaml
  vendor/github.com/coreos/go-oidc/v3/oidc/jwks.go
  vendor/github.com/coreos/go-oidc/v3/oidc/oidc.go
  vendor/github.com/coreos/go-oidc/v3/oidc/verify.go
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/knative.dev/eventing/hack/install.sh
  vendor/knative.dev/eventing/hack/update-cert-manager.sh
  vendor/knative.dev/eventing/pkg/apis/sources/v1/sinkbinding_lifecycle.go
  vendor/knative.dev/eventing/pkg/client/clientset/versioned/doc.go
  vendor/knative.dev/eventing/pkg/client/informers/externalversions/factory.go
  vendor/knative.dev/eventing/pkg/eventingtls/eventingtls.go
  vendor/knative.dev/eventing/pkg/eventingtls/eventingtlstesting/eventingtlstesting.go
  vendor/knative.dev/eventing/pkg/eventingtls/trust_bundle.go
  vendor/knative.dev/eventing/pkg/kncloudevents/event_dispatcher.go
  vendor/knative.dev/eventing/pkg/kncloudevents/http_client.go
  vendor/knative.dev/eventing/test/e2e-common.sh
  vendor/knative.dev/eventing/test/rekt/features/channel/eventing_tls_feature.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/test

#3601 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3602 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  third_party/VENDOR-LICENSE/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/LICENSE
  third_party/VENDOR-LICENSE/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/NOTICE
  vendor/github.com/evanphx/json-patch/v5/internal/json/decode.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/encode.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/fold.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/fuzz.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/indent.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/scanner.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/stream.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/tables.go
  vendor/github.com/evanphx/json-patch/v5/internal/json/tags.go
  vendor/github.com/evanphx/json-patch/v5/merge.go
  vendor/github.com/evanphx/json-patch/v5/patch.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/NOTICE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/.gitignore
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/Makefile
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/decode.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/doc.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/encode.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/alert.go
  vendor/github.com/prometheus/common/model/metadata.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/signature.go
  vendor/github.com/prometheus/common/model/silence.go
  vendor/github.com/prometheus/common/model/value.go
  vendor/github.com/prometheus/common/model/value_float.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  vendor/knative.dev/eventing/test/rekt/features/new_trigger_filters/feature.go
  vendor/knative.dev/eventing/test/rekt/features/new_trigger_filters/filters.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3529 [release-1.12] Cherry-pick E2E tests for channel: TLS key pair rotation #3406
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  control-plane/pkg/reconciler/channel/resources/service.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  test/e2e_new/channel_eventing_tls_test.go
  test/rekt/features/channel_tls.go
  test/rekt/resources/kafkachannel/kafkachannel.go
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test

#3610 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/rekt/features/new_trigger_filters/feature.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3606 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, size/L, skip-review

#3613 Propagate ConsumerGroup status on KafkaSource deletion
  control-plane/pkg/reconciler/source/source.go
Labels: approved, lgtm, size/S, area/control-plane

#3612 Don't ignore Context from TableRow in `NewFactory()`
  control-plane/pkg/reconciler/testing/factory.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, lgtm, size/S, area/control-plane

#3570 Use image digests for data plane images
  hack/data-plane.sh
Labels: approved, lgtm, size/S

#3617 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3611 Add OIDC TokenVerifier
  data-plane/THIRD-PARTY.txt
  data-plane/core/pom.xml
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/OIDCDiscoveryConfig.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/OIDCInfo.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenVerifier.java
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#3615 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/flows/v1/sequence_lifecycle.go
  vendor/knative.dev/eventing/test/rekt/resources/delivery/delivery.go
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.go
  vendor/knative.dev/eventing/test/rekt/resources/pingsource/pingsource.yaml
  vendor/knative.dev/eventing/test/rekt/resources/subscription/subscription.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3619 Bump Go to v1.21
  go.mod
  go.sum
Labels: approved, size/M, lgtm

#3605 Propagate trust bundles in the data plane contract
  control-plane/cmd/kafka-controller/main.go
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/apis/sources/v1beta1/kafka_lifecycle.go
  control-plane/pkg/core/config/utils.go
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/async_prober_test.go
  control-plane/pkg/prober/composite_prober.go
  control-plane/pkg/prober/composite_prober_test.go
  control-plane/pkg/prober/prober.go
  control-plane/pkg/receiver/address.go
  control-plane/pkg/receiver/address_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumer/controller_test.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/source/source.go
  test/e2e_new/broker_eventing_tls_test.go
  test/e2e_new/channel_eventing_tls_test.go
  test/e2e_new/kafka_source_test.go
  test/e2e_new/main_test.go
  test/e2e_new_channel/main_test.go
  test/rekt/features/kafka_source.go
  test/rekt/features/kafka_source_create_secrets_after.go
  test/rekt/resources/kafkasource/kafkasource.go
  test/rekt/resources/kafkasource/kafkasource.yaml
  vendor/knative.dev/eventing/test/rekt/features/source/feature.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/configmap/filtered/configmap.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/configmap/filtered/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/fake/fake_filtered_factory.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/filtered_factory.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane, area/test

#3595 [release-1.12] Fix binary events with no data and ce overrides not being delivered (#3475)
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/CloudEventMutator.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherMutatorChain.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/NullCloudEventInterceptor.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/Main.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/main/InterceptorChainTest.java
  test/e2e_new/kafka_source_test.go
  test/rekt/features/kafka_source.go
Labels: approved, lgtm, size/L, area/data-plane, area/test

#3560 set the template consumer group id first in trigger
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane

#3621 Remove sensitive logs from TokenVerifier
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenVerifier.java
Labels: approved, size/XS, lgtm, area/data-plane

#3464 Add kafka ce extensions for partition and offset
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/CloudEventMutator.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherMutatorChain.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/CloudEventOverridesMutator.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/CloudEventOverridesMutatorTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/integration/UnorderedConsumerTest.java
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/AbstractDataPlaneTest.java
  test/e2e_new/broker_event_transformation_test.go
  test/rekt/features/ce_extensions.go
Labels: approved, lgtm, size/L, area/data-plane, area/test

#3618 Add OIDC TokenProvider
  data-plane/THIRD-PARTY.txt
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/NamespacedName.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenProvider.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenVerifier.java
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#3627 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/auth/serviceaccount.go
  vendor/knative.dev/eventing/pkg/metrics/metrics.go
  vendor/knative.dev/eventing/test/e2e-common.sh
  vendor/knative.dev/eventing/test/rekt/features/featureflags/featureflags.go
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3633 Skip KafkaSource TLS tests on Istio
  test/rekt/features/kafka_source.go
Labels: approved, size/XS, lgtm, area/test

#3638 [release-1.13] Include TLS resources in release test setup
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#3639 Remove strict-subscriber feature flag
  test/config-transport-encryption/features.yaml
  test/experimental/features_config/features.yaml
Labels: approved, size/XS, lgtm, area/test

#3631 Fix possible nil pointer dereferences on Consumer/ConsumerGroup
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/consumer/consumer.go
Labels: approved, lgtm, size/S, area/control-plane

#3632 Update contract with fields for OIDC information
  control-plane/pkg/contract/contract.pb.go
  data-plane/contract/src/main/java/dev/knative/eventing/kafka/broker/contract/DataPlaneContract.java
  proto/contract.proto
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane

#3644 Added architecture ppc64le to jib maven build task
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, ok-to-test, area/data-plane

#3620 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, size/L, skip-review

#3636 Include TLS resources in release test setup
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, area/test

#3650 [release-1.12] Enable receiver and dispatcher Docker images for ppc64le architecture
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, ok-to-test, area/data-plane

#3649 [release-1.13] Enable receiver and dispatcher Docker images for ppc64le architecture
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, ok-to-test, area/data-plane

#3642 Align to the defaults, list all - for convenience
  test/experimental/features_config/features.yaml
Labels: approved, size/XS, lgtm, area/test

#3622 Expose OIDC audience of KafkaChannel in its status
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/pkg/receiver/address.go
  control-plane/pkg/receiver/address_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  test/e2e_new_channel/kafka_channel_test.go
  vendor/knative.dev/eventing/test/rekt/features/oidc/addressable_oidc_conformance.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/control-plane, area/test
