Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2024-09, with the labels that each got.

#4089 List applying policies in KafkaChannel
  control-plane/pkg/apis/messaging/v1beta1/kafka_channel_lifecycle.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/testing/objects_channel.go
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane

#4087 Enable AuthZ e2e tests
  test/e2e_new/broker_test.go
  test/e2e_new/sink_auth_test.go
  test/e2e_new_channel/kafka_channel_test.go
Labels: approved, size/M, lgtm, area/test

#4013 LoomKafkaProducer|Consumer let the background thread finish itself
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/LoomKafkaConsumer.java
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducer.java
Labels: approved, lgtm, size/S, area/data-plane

#4081 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, size/L, skip-review

#4094 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: size/L, skip-review

#4098 Set globalResync function for KafkaChannel reconciler
  control-plane/pkg/reconciler/channel/controller.go
Labels: approved, size/XS, lgtm, area/control-plane

#4101 [release-1.14] Create configmap for starting dispatcher pods (#4027)
  control-plane/cmd/kafka-controller/main.go
  control-plane/pkg/apis/internals/kafka/eventing/data_plane.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/register.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/consumergroup/evictor_test.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/pod/filtered/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/pod/filtered/pod.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#4103 Allow enabling sarama logging and disabling client pool
  control-plane/cmd/kafka-controller/main.go
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/pkg/kafka/clientpool/clientpool.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
Labels: approved, lgtm, size/L, area/control-plane

#4104 Use v2 specific label to avoid matching previous deployment-based dispatchers
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_broker.go
  control-plane/pkg/reconciler/testing/objects_channel.go
  control-plane/pkg/reconciler/testing/objects_common.go
  control-plane/pkg/reconciler/testing/objects_source.go
Labels: approved, size/M, lgtm, area/data-plane, area/control-plane

#4108 [release-1.15] Allow enabling sarama logging and disabling client pool (#4103)
  control-plane/cmd/kafka-controller/main.go
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/pkg/kafka/clientpool/clientpool.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
Labels: approved, lgtm, size/L, area/control-plane

#4107 [release-1.14] Allow enabling sarama logging and disabling client pool (#4103)
  control-plane/cmd/kafka-controller/main.go
  control-plane/config/eventing-kafka-broker/200-controller/500-controller.yaml
  control-plane/pkg/kafka/clientpool/clientpool.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
Labels: approved, lgtm, size/L, area/control-plane

#4093 Bump to Strimzi 0.43.0 operator and Kafka operand to 3.8
  test/kafka/kafka-ephemeral.yaml
  test/kafka/strimzi-cluster-operator.yaml
Labels: approved, lgtm, size/XXL, area/test

#4112 Upgrade knative.dev/eventing to latest 1.15
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/state/helpers.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/autoscaler.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/control-plane

#4113 [release-1.14] Upgrade knative.dev/eventing to latest 1.14
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/feature/features.go
  vendor/knative.dev/eventing/pkg/apis/sources/v1/container_lifecycle.go
  vendor/knative.dev/eventing/pkg/auth/serviceaccount.go
  vendor/knative.dev/eventing/pkg/kncloudevents/event_dispatcher.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/containersource.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/state/helpers.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/autoscaler.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/control-plane

#4114 Report error for unsupported PKCS #1 format for the private key
  control-plane/pkg/security/secret.go
  control-plane/pkg/security/secret_test.go
  control-plane/pkg/security/testdata/pkcs1_user.key
Labels: approved, size/M, lgtm, area/control-plane

#4110 KafkaSource/Sink: Adding interface implementation test
  control-plane/pkg/apis/eventing/v1alpha1/implements_test.go
  control-plane/pkg/apis/sources/v1beta1/implements_test.go
Labels: approved, size/M, lgtm, area/control-plane

#4095 Paired upgrade tests
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/LoomKafkaConsumer.java
  test/rekt/features/kafka_source.go
  test/upgrade/postdowngrade.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
  test/upgrade/smoke.go
  test/upgrade/suite.go
  vendor/knative.dev/eventing/test/upgrade/README.md
  vendor/knative.dev/eventing/test/upgrade/continual.go
  vendor/knative.dev/eventing/test/upgrade/postupgrade.go
  vendor/knative.dev/eventing/test/upgrade/upgrade.go
  vendor/knative.dev/pkg/test/migrate/checks.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/data-plane, area/test

#4097 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, size/L, skip-review
