Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2024-02, with the labels that each got.

#3604 Auto generate Triggers OIDC identity service account and expose in its status
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/serviceaccount/fake/fake.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane

#3657 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3656 Order features.yaml like the actual upstream file/src
  test/config-transport-encryption/features.yaml
Labels: approved, size/XS, lgtm, area/test

#3660 Create KafkaSources OIDC service account and expose in its status
  control-plane/pkg/apis/sources/v1beta1/kafka_lifecycle.go
  control-plane/pkg/reconciler/source/controller.go
  control-plane/pkg/reconciler/source/controller_test.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_source.go
Labels: approved, lgtm, size/L, area/control-plane

#3654 feat: remove yaml merge tag
  control-plane/config/eventing-kafka-broker/200-webhook/500-webhook.yaml
Labels: approved, lgtm, size/S, ok-to-test, area/control-plane

#3646 Provision contract with OIDC information
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
  control-plane/config/eventing-kafka-broker/100-source/100-kafka-source.yaml
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_types.go
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/zz_generated.deepcopy.go
  control-plane/pkg/apis/sources/v1beta1/kafka_lifecycle.go
  control-plane/pkg/core/config/utils.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/source/source.go
  control-plane/pkg/reconciler/source/source_test.go
  control-plane/pkg/reconciler/testing/objects_consumer.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
Labels: approved, lgtm, size/L, area/control-plane

#3661 Using latest of 4.4.7 vertx bits
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, lgtm, size/S, area/data-plane

#3651 [release-1.11] Enable receiver and dispatcher Docker images for ppc64le architecture
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, ok-to-test, area/data-plane

#3663 [data-plane] Add the caching for OIDC JWT token to tokenprovider
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenProvider.java
Labels: approved, size/M, lgtm, area/data-plane, area/control-plane

#3678 Use filtered global resync for triggers
  control-plane/pkg/reconciler/trigger/controller.go
Labels: approved, size/XS, lgtm, area/control-plane

#3677 Dispatcher authenticate requests
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  data-plane/config/broker/200-broker-data-plane-cluster-role.yaml
  data-plane/config/channel/200-channel-data-plane-cluster-role.yaml
  data-plane/config/source/200-source-data-plane-cluster-role.yaml
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenProvider.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleBuilder.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSenderTest.java
  test/e2e_new_channel/kafka_channel_test.go
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test

#3600 Support exposing the Audience of a Broker
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane

#3671 feat: kafka broker now supports all kafka topic config options
  control-plane/pkg/kafka/topic.go
  control-plane/pkg/kafka/topic_test.go
Labels: approved, size/M, lgtm, area/control-plane

#3666 fix selector path for cg scale subresource
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
Labels: approved, size/M, lgtm, area/control-plane

#3653 Only global resync when the replicas of the STS change
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, lgtm, size/S, area/control-plane

#3665 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: size/L, skip-review

#3685 Add broker OIDC e2e tests
  test/e2e_new/broker_test.go
  test/e2e_new/templates/kafka-broker/broker.yaml
Labels: approved, size/M, lgtm, area/test

#3693 Expose reasons for BindInProgress by adding pod status summary
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_lifecycle.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/consumer_test.go
Labels: approved, lgtm, size/L, area/control-plane

#3692 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/executablecredsource.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/env_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/google.golang.org/api/internal/settings.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/api/storage/v1/storage-api.json
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/google.golang.org/api/transport/grpc/dial.go
  vendor/google.golang.org/api/transport/http/dial.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/receiver/services.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3698 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3699 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3706 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#3694 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, size/XXL, skip-review

#3700 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/defaults.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/config/structure.go
  vendor/knative.dev/eventing/test/upgrade/prober/wathola/event/services.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3457 Stash only relevant broker config keys on the broker status
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, lgtm, size/S, ok-to-test, area/control-plane

#3709 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: size/L, skip-review

#3708 Remove unneeded check when setting broker audience
  control-plane/pkg/reconciler/broker/broker.go
Labels: approved, size/XS, lgtm, area/control-plane

#3707 Check status code of OIDC discovery response
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/OIDCDiscoveryConfig.java
Labels: approved, size/XS, lgtm, area/data-plane

#3710 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/iam/CHANGES.md
  vendor/cloud.google.com/go/iam/apiv1/iampb/iam_policy.pb.go
  vendor/cloud.google.com/go/iam/apiv1/iampb/options.pb.go
  vendor/cloud.google.com/go/iam/apiv1/iampb/policy.pb.go
  vendor/cloud.google.com/go/storage/CHANGES.md
  vendor/cloud.google.com/go/storage/bucket.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/cloud.google.com/go/storage/internal/apiv2/doc.go
  vendor/cloud.google.com/go/storage/internal/apiv2/storage_client.go
  vendor/cloud.google.com/go/storage/internal/apiv2/storagepb/storage.pb.go
  vendor/cloud.google.com/go/storage/internal/version.go
  vendor/cloud.google.com/go/storage/storage.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_create.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/go.opentelemetry.io/otel/CHANGELOG.md
  vendor/go.opentelemetry.io/otel/CODEOWNERS
  vendor/go.opentelemetry.io/otel/CONTRIBUTING.md
  vendor/go.opentelemetry.io/otel/attribute/set.go
  vendor/go.opentelemetry.io/otel/version.go
  vendor/go.opentelemetry.io/otel/versions.yaml
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/imports.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/golang.org/x/tools/internal/imports/mod_cache.go
  vendor/golang.org/x/tools/internal/imports/zstdlib.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/api/transport/grpc/dial.go
  vendor/google.golang.org/api/transport/http/dial.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/client.pb.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3585 EventType autocreate
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/sink/controller.go
  data-plane/THIRD-PARTY.txt
  data-plane/config/broker/200-broker-data-plane-cluster-role.yaml
  data-plane/config/channel/200-channel-data-plane-cluster-role.yaml
  data-plane/config/sink/200-sink-data-plane-cluster-role.yaml
  data-plane/core/pom.xml
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeBuilder.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeCreator.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeCreatorImpl.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeSpec.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/eventtype/KReference.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeCreatorImplTest.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/eventtype/EventTypeTest.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourceReconcilerTestRunner.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/IngressProducer.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/handler/IngressRequestHandlerImpl.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/Main.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverVerticleFactory.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticleTracingTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/impl/handler/IngressRequestHandlerImplTest.java
  data-plane/receiver/src/test/java/dev/knative/eventing/kafka/broker/receiver/main/ReceiverVerticleFactoryTest.java
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/AbstractDataPlaneTest.java
  test/e2e_new/broker_test.go
  test/e2e_new/config/features.yaml
  test/reconciler-tests.sh
  vendor/knative.dev/eventing/test/experimental/features/eventtype_autocreate/features.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtype/eventtype.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/data-plane, area/control-plane, area/test

#3493 Add kafka client pool
  control-plane/cmd/kafka-controller/main.go
  control-plane/pkg/counter/counter.go
  control-plane/pkg/kafka/client.go
  control-plane/pkg/kafka/clientpool/client.go
  control-plane/pkg/kafka/clientpool/clientpool.go
  control-plane/pkg/kafka/clientpool/clientpool_test.go
  control-plane/pkg/kafka/sarama/batch_get_offsets.go
  control-plane/pkg/kafka/testing/admin_mock.go
  control-plane/pkg/kafka/testing/client_mock.go
  control-plane/pkg/prober/async_prober.go
  control-plane/pkg/prober/cache.go
  control-plane/pkg/prober/cache_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/broker/broker_test.go
  control-plane/pkg/reconciler/broker/controller.go
  control-plane/pkg/reconciler/broker/controller_test.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/channel/controller.go
  control-plane/pkg/reconciler/channel/controller_test.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/channel/v2/channelv2_test.go
  control-plane/pkg/reconciler/channel/v2/controllerv2.go
  control-plane/pkg/reconciler/channel/v2/controllerv2_test.go
  control-plane/pkg/reconciler/consumergroup/auth.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/consumergroup_test.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/consumergroup/controller_test.go
  control-plane/pkg/reconciler/sink/controller.go
  control-plane/pkg/reconciler/sink/controller_test.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/sink/kafka_sink_test.go
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, lgtm, size/XXL, area/control-plane

#3723 Detect trust bundles changes
  control-plane/pkg/core/config/utils.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
Labels: approved, size/M, lgtm, area/control-plane
