Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2024-04, with the labels that each got.

#3802 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/reconciler/testing/context.go
  vendor/knative.dev/pkg/test/kube_checks.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3800 [release-1.13] fix: triggers use correct consumer group id generated from template (#3779)
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  test/config-kafka-features/new-cg-id.yaml
  test/config-kafka-features/restore-cg-id.yaml
  test/e2e_new/broker_sasl_ssl_test.go
  test/reconciler-tests.sh
  test/rekt/features/broker_auth.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#3558 Use triggerv2 controller in shared main
  control-plane/cmd/kafka-controller/main.go
  control-plane/cmd/post-install/kafka_broker_deployment_deleter.go
  control-plane/cmd/post-install/main.go
  control-plane/config/eventing-kafka-broker/200-controller/200-controller-cluster-role.yaml
  control-plane/config/post-install/200-controller-cluster-role.yaml
  control-plane/pkg/kafka/clientpool/clientpool.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumer/controller_test.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
  control-plane/pkg/reconciler/consumergroup/controller.go
  control-plane/pkg/reconciler/testing/listers.go
  control-plane/pkg/reconciler/testing/statefulset.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2_test.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  control-plane/pkg/security/config.go
  data-plane/config/broker/500-dispatcher.yaml
  data-plane/config/broker/500-receiver.yaml
  test/e2e-common.sh
  test/pkg/logging/logging.go
  test/upgrade/installation/stable.go
  test/upgrade/installation/triggerv2_downgrade.go
  test/upgrade/main_test.go
  test/upgrade/suite.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/serviceaccount/filtered/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/serviceaccount/filtered/serviceaccount.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/data-plane, area/control-plane, area/test

#3803 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3804 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/cloudevents/sdk-go/v2/binding/buffering/acks_before_finish_message.go
  vendor/github.com/cloudevents/sdk-go/v2/binding/buffering/binary_buffer_message.go
  vendor/github.com/cloudevents/sdk-go/v2/binding/buffering/copy_message.go
  vendor/github.com/cloudevents/sdk-go/v2/binding/buffering/doc.go
  vendor/github.com/cloudevents/sdk-go/v2/binding/buffering/struct_buffer_message.go
  vendor/github.com/valyala/bytebufferpool/.travis.yml
  vendor/github.com/valyala/bytebufferpool/LICENSE
  vendor/github.com/valyala/bytebufferpool/README.md
  vendor/github.com/valyala/bytebufferpool/bytebuffer.go
  vendor/github.com/valyala/bytebufferpool/doc.go
  vendor/github.com/valyala/bytebufferpool/pool.go
  vendor/knative.dev/eventing/pkg/apis/duck/v1/subscribable_types.go
  vendor/knative.dev/eventing/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/eventing/pkg/apis/messaging/v1/subscription_types.go
  vendor/knative.dev/eventing/pkg/eventtype/eventtypes.go
  vendor/knative.dev/eventing/pkg/kncloudevents/event_dispatcher.go
  vendor/knative.dev/eventing/test/experimental/features/eventtype_autocreate/features.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtype/eventtype.go
  vendor/knative.dev/eventing/test/rekt/resources/subscription/subscription.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#3813 test: triggers scale with KEDA
  test/e2e_new/broker_test.go
  test/rekt/features/kafka_source.go
  test/rekt/features/keda_scaling.go
Labels: approved, lgtm, size/L, area/test

#3817 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/md4/md4.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/golang.org/x/sys/unix/mmap_nomremap.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/knative.dev/eventing/hack/install.sh
  vendor/knative.dev/eventing/pkg/eventingtls/trust_bundle.go
  vendor/knative.dev/eventing/test/rekt/features/broker/feature.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3831 [main] Format Go code
  test/rekt/features/keda_scaling.go
Labels: approved, size/XS, lgtm, area/test

#3841 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3830 fix: evictor no longer has NPE when called with nil pod
  control-plane/pkg/reconciler/consumergroup/evictor.go
  control-plane/pkg/reconciler/consumergroup/evictor_test.go
Labels: approved, size/M, lgtm, area/control-plane

#3845 Add `.spec.subscribers[].name` field in KafkaChannel to align with eventing-core channel definition
  control-plane/config/eventing-kafka-broker/100-channel/100-kafka-channel.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#3851 Add debug logs for ConsumerGroup reconciler to record actions taken
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, lgtm, size/S, area/control-plane

#3849 Upgrade tests install eventing core from release
  test/e2e-common.sh
  test/upgrade/installation/githead.go
Labels: approved, size/M, lgtm, area/test

#3770 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
Labels: approved, lgtm, size/L, skip-review

#3856 Bump to new 3.8.x Quarkus.io
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#3859 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3854 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3852 Fix CI flakes
  control-plane/cmd/post-install/kafka_broker_deployment_deleter.go
  control-plane/config/eventing-kafka-broker/200-controller/100-config-logging.yaml
  control-plane/pkg/apis/config/features.go
  control-plane/pkg/reconciler/broker/namespaced_broker.go
  control-plane/pkg/reconciler/broker/namespaced_broker_test.go
  control-plane/pkg/reconciler/broker/namespaced_controller.go
  control-plane/pkg/reconciler/testing/deployment.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
  data-plane/config/broker/500-receiver.yaml
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/oidc/TokenProvider.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/reconciler/impl/ResourcesReconcilerImpl.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/utils/ReferenceCounter.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherImpl.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/http/WebClientCloudEventSender.java
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducer.java
  data-plane/receiver-loom/src/test/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducerTest.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
  test/config/100-config-logging.yaml
  test/e2e-common.sh
  test/e2e_new/broker_with_many_triggers_test.go
  test/reconciler-tests.sh
  test/upgrade/installation/stable.go
  test/upgrade/installation/triggerv2_downgrade.go
  vendor/knative.dev/pkg/client/injection/kube/informers/apps/v1/deployment/deployment.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane, area/test

#3865 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3801 [release-1.12] fix: triggers use correct consumer group id generated from template (#3779)
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger.go
  control-plane/pkg/reconciler/trigger/namespaced_trigger_test.go
  test/config-kafka-features/new-cg-id.yaml
  test/config-kafka-features/restore-cg-id.yaml
  test/e2e_new/broker_sasl_ssl_test.go
  test/reconciler-tests.sh
  test/rekt/features/broker_auth.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#3823 cleanup: drop brokerv2 config
  data-plane/config/brokerv2/500-dispatcher.yaml
Labels: approved, lgtm, size/L, area/data-plane

#3868 cleanup: removed triggerv2 downgrade + postinstall logic
  control-plane/cmd/post-install/kafka_broker_deployment_deleter.go
  control-plane/cmd/post-install/main.go
  control-plane/config/post-install/200-controller-cluster-role.yaml
  test/upgrade/installation/stable.go
  test/upgrade/installation/triggerv2_downgrade.go
Labels: approved, lgtm, size/L, area/control-plane, area/test

#3791 Remove receiver-vertx and dispatcher-vertx modules
  data-plane/README.md
  data-plane/THIRD-PARTY.txt
  data-plane/benchmarks/pom.xml
  data-plane/dispatcher-vertx/pom.xml
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/Main.java
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxConsumerFactory.java
  data-plane/dispatcher-vertx/src/main/java/dev/knative/eventing/kafka/broker/dispatchervertx/VertxKafkaConsumer.java
  data-plane/pom.xml
  data-plane/profiler/run.sh
  data-plane/receiver-vertx/pom.xml
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/Main.java
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxKafkaProducer.java
  data-plane/receiver-vertx/src/main/java/dev/knative/eventing/kafka/broker/receiververtx/VertxProducerFactory.java
  data-plane/receiver-vertx/src/test/java/dev/knative/eventing/kafka/broker/receiververtx/impl/ReceiverVerticleTracingVertxImplTest.java
  data-plane/tests/pom.xml
  data-plane/tests/src/test/java/dev/knative/eventing/kafka/broker/tests/VertxDataPlaneTest.java
  hack/data-plane.sh
  hack/verify-codegen.sh
Labels: approved, lgtm, size/XL, area/data-plane
