Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2024-10, with the labels that each got.

#4122 Remove unused editor config Java plugin
  data-plane/contract/pom.xml
  data-plane/pom.xml
  data-plane/profiler/run.sh
Labels: approved, size/M, lgtm, area/data-plane

#4102 Bump sarama to 1.43.3
  go.mod
  go.sum
  vendor/github.com/IBM/sarama/Dockerfile.kafka
  vendor/github.com/IBM/sarama/async_producer.go
  vendor/github.com/IBM/sarama/config.go
  vendor/github.com/IBM/sarama/docker-compose.yml
  vendor/github.com/IBM/sarama/offset_manager.go
  vendor/github.com/IBM/sarama/transaction_manager.go
  vendor/github.com/klauspost/compress/flate/matchlen_amd64.s
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_arm64.s
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.s
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4120 Set the `name` value for metrics tags to the correct top-level resource
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/channel_test.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/testing/objects_consumergroup.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  control-plane/pkg/reconciler/trigger/v2/triggerv2_test.go
Labels: approved, lgtm, size/L, area/control-plane

#4125 [release-1.14] Fix EOF errors when using `SASL_SSL` `PLAIN`
  control-plane/pkg/reconciler/consumergroup/auth.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, lgtm, size/S, area/control-plane

#4126 Support explicit protocol configuration in KafkaChannel secret
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/security/secrets_provider_legacy_channel_secret.go
  control-plane/pkg/security/secrets_provider_net_spec.go
  test/e2e-common.sh
  test/rekt/features/kafka_source.go
  test/rekt/features/kafka_source_create_secrets_after.go
Labels: approved, size/M, lgtm, area/control-plane, area/test

#4132 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#4134 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#4135 Update maven-dependency-plugin to 3.8
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane

#4139 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#4128 Discard invalid consumer records
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherMutatorChain.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/CloudEventOverridesMutator.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/RecordDispatcherMutatorChainTest.java
  data-plane/dispatcher/src/test/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/CloudEventOverridesMutatorTest.java
Labels: approved, size/M, lgtm, area/data-plane

#4137 Describe sacura resources when they don't become ready
  test/e2e-common.sh
Labels: approved, lgtm, size/S, area/test

#4142 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/defaulting/controller.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/controller.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#4145 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#4146 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/eventtype/eventtypes.go
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm
