Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2024-05, with the labels that each got.

#3871 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3866 cleanup: logfile timestamps are shorter now
  test/pkg/logging/logging.go
Labels: approved, size/XS, lgtm, area/test

#3875 Use ConcurrentHashMap in IngressProducerReconcilableStore to avoid ConcurrentModificationException
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/IngressProducerReconcilableStore.java
Labels: approved, lgtm, size/S, area/data-plane

#3874 Remove the unused vertx-kafka version property
  data-plane/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane

#3880 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/sources/v1/container_lifecycle.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/containersource.go
  vendor/modules.txt
Labels: approved, size/M, lgtm

#3564 Add deploy control plane command to hack/run.sh
  hack/run.sh
  test/e2e-common.sh
Labels: approved, size/M, lgtm, ok-to-test, area/test

#3884 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#3883 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/internal/.repo-metadata-full.json
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/google.golang.org/api/iamcredentials/v1/iamcredentials-gen.go
  vendor/google.golang.org/api/internal/gensupport/params.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/google.golang.org/protobuf/encoding/protojson/encode.go
  vendor/google.golang.org/protobuf/encoding/prototext/encode.go
  vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  vendor/google.golang.org/protobuf/internal/errors/errors.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/placeholder.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_field.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_enum.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_extension.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_file.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_message.go
  vendor/google.golang.org/protobuf/internal/impl/message_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/message_reflect_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/proto/encode.go
  vendor/google.golang.org/protobuf/proto/extension.go
  vendor/google.golang.org/protobuf/proto/messageset.go
  vendor/google.golang.org/protobuf/proto/size.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/type.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.proto
  vendor/knative.dev/eventing/test/experimental/features/eventtype_autocreate/features.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#3719 Use filtered informer to watch OIDC service accounts
  control-plane/pkg/reconciler/trigger/controller.go
  control-plane/pkg/reconciler/trigger/controller_test.go
  control-plane/pkg/reconciler/trigger/namespaced_controller.go
  control-plane/pkg/reconciler/trigger/namespaced_controller_test.go
  control-plane/pkg/reconciler/trigger/v2/controllerv2.go
  test/e2e_new/trigger_finalizer_test.go
Labels: approved, lgtm, size/L, ok-to-test, area/control-plane, area/test

#3882 Introduce a `ENABLE_VIRTUAL_THREADS` env variable to enable virtual threads, default to real threads for now
  .github/workflows/knative-profile-data-plane.yaml
  data-plane/dispatcher-loom/pom.xml
  data-plane/dispatcher-loom/src/main/java/dev/knative/eventing/kafka/broker/dispatcherloom/LoomKafkaConsumer.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OrderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/UnorderedConsumerVerticle.java
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/Main.java
  data-plane/profiler/resources/config-logging.xml
  data-plane/profiler/run.sh
  data-plane/receiver-loom/pom.xml
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducer.java
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/main/Main.java
Labels: approved, lgtm, size/L, area/data-plane, area/test

#3867 cleanup: re-enabled chaos in reconciler tests
  test/reconciler-tests.sh
Labels: approved, size/XS, lgtm, area/test

#3891 Upgrade to latest dependencies and fix incompatible API call
  go.mod
  go.sum
  test/e2e_new/new_trigger_filters_test.go
  vendor/knative.dev/eventing/pkg/eventingtls/trust_bundle.go
  vendor/knative.dev/eventing/pkg/reconciler/testing/v1/factory.go
  vendor/knative.dev/eventing/test/rekt/features/broker/oidc_feature.go
  vendor/knative.dev/eventing/test/rekt/features/channel/oidc_feature.go
  vendor/knative.dev/eventing/test/rekt/features/new_trigger_filters/feature.go
  vendor/knative.dev/eventing/test/rekt/features/new_trigger_filters/filters.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/broker/broker.go
  vendor/knative.dev/eventing/test/rekt/resources/subscription/subscription.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.go
  vendor/knative.dev/eventing/test/rekt/resources/trigger/trigger.yaml
  vendor/knative.dev/pkg/apis/duck/v1/auth_types.go
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/assert/event_info_matchers.go
  vendor/modules.txt
Labels: approved, lgtm, size/L, area/test

#3889 Add post install logic for namespaced brokers
  control-plane/cmd/post-install/kafka_namespaced_broker_deployment_deleter.go
  control-plane/cmd/post-install/main.go
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, lgtm, size/L, area/control-plane

#3899 [release-1.14] Add post install logic for namespaced brokers (#3889)
  control-plane/cmd/post-install/kafka_namespaced_broker_deployment_deleter.go
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, size/M, lgtm, area/control-plane

#3904 [main] Update actions
  .github/workflows/knative-go-test.yaml
Labels: approved, size/XS, lgtm, area/test, skip-review

#3825 only requeue consumergroups from appropriate statefulset on change
  control-plane/pkg/apis/internals/kafka/eventing/v1alpha1/register.go
  control-plane/pkg/reconciler/consumer/controller.go
  control-plane/pkg/reconciler/consumergroup/controller.go
Labels: approved, size/M, lgtm, area/control-plane

#3910 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#3676 feat: remove keda objects during reconciliation
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, size/M, lgtm, ok-to-test, area/control-plane

#3908 Update eventing nightly and Install Eventing core TLS test resources
  hack/tools.go
  test/e2e-common.sh
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
  third_party/eventing-latest/eventing-tls-networking.yaml
  vendor/knative.dev/eventing/test/config/tls/bundle-configmap.yaml
  vendor/knative.dev/eventing/test/config/tls/bundle.yaml
  vendor/knative.dev/eventing/test/config/tls/eventing-ca-issuer.yaml
  vendor/knative.dev/eventing/test/config/tls/placeholder.go
  vendor/knative.dev/eventing/test/config/tls/selfsigned-issuer.yaml
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/test

#3915 Prevent generation only updates
  control-plane/pkg/contract/extensions.go
  control-plane/pkg/core/config/egress.go
  control-plane/pkg/core/config/egress_test.go
  control-plane/pkg/core/config/resource.go
  control-plane/pkg/core/config/resource_test.go
  control-plane/pkg/reconciler/base/reconciler.go
  control-plane/pkg/reconciler/base/reconciler_test.go
  control-plane/pkg/reconciler/broker/broker.go
  control-plane/pkg/reconciler/channel/channel.go
  control-plane/pkg/reconciler/channel/v2/channelv2.go
  control-plane/pkg/reconciler/consumer/consumer.go
  control-plane/pkg/reconciler/sink/kafka_sink.go
  control-plane/pkg/reconciler/trigger/trigger.go
  control-plane/pkg/reconciler/trigger/trigger_test.go
Labels: approved, do-not-merge/hold, lgtm, size/L, area/control-plane
