Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2025-05, with the labels that each got.

#4349 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L, skip-review

#4358 Change initializer to catch issues with setting consumer during build() function
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/main/ConsumerVerticleBuilder.java
Labels: approved, lgtm, size/S, area/data-plane

#4365 :broom: Propagate the CaCerts and Audience of the ConsumerGroups Subscribers and DLS in the Triggers status too
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
Labels: approved, size/XS, lgtm, area/control-plane

#4366 Upgrade kind node image in create-kind-cluster.sh to latest 1.32 image
  hack/create-kind-cluster.sh
Labels: approved, size/XS, lgtm

#4371 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4372 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/modules.txt
Labels: approved, lgtm, size/S

#4369 Bump to latest of Sarama client lib
  control-plane/pkg/kafka/clientpool/client.go
  control-plane/pkg/kafka/clientpool/clusteradmin.go
  control-plane/pkg/kafka/consumer_group_lag_test.go
  control-plane/pkg/kafka/testing/admin_mock.go
  control-plane/pkg/kafka/testing/client_mock.go
  go.mod
  go.sum
  vendor/github.com/IBM/sarama/.golangci.yml
  vendor/github.com/IBM/sarama/.pre-commit-config.yaml
  vendor/github.com/IBM/sarama/Dockerfile.kafka
  vendor/github.com/IBM/sarama/Makefile
  vendor/github.com/IBM/sarama/admin.go
  vendor/github.com/IBM/sarama/async_producer.go
  vendor/github.com/IBM/sarama/balance_strategy.go
  vendor/github.com/IBM/sarama/broker.go
  vendor/github.com/IBM/sarama/client.go
  vendor/github.com/IBM/sarama/config.go
  vendor/github.com/IBM/sarama/consumer_group.go
  vendor/github.com/IBM/sarama/create_topics_request.go
  vendor/github.com/IBM/sarama/delete_topics_request.go
  vendor/github.com/IBM/sarama/docker-compose.yml
  vendor/github.com/IBM/sarama/elect_leaders_request.go
  vendor/github.com/IBM/sarama/elect_leaders_response.go
  vendor/github.com/IBM/sarama/election_type.go
  vendor/github.com/IBM/sarama/entrypoint.sh
  vendor/github.com/IBM/sarama/errors.go
  vendor/github.com/IBM/sarama/mockresponses.go
  vendor/github.com/IBM/sarama/produce_set.go
  vendor/github.com/IBM/sarama/request.go
  vendor/github.com/IBM/sarama/server.properties
  vendor/github.com/IBM/sarama/sync_producer.go
  vendor/github.com/IBM/sarama/utils.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4stream/block.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane

#4360 Setup and initialize HTTPS server correctly when TLS config gets updated
  data-plane/receiver/src/main/java/dev/knative/eventing/kafka/broker/receiver/impl/ReceiverVerticle.java
Labels: approved, size/M, lgtm, area/data-plane

#4381 Applying as 'rules: null', since that is how api server is treating i…
  control-plane/config/post-install/200-controller-cluster-role.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#4014 feat: remove unnecessary filter creations
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/core/filter/AllFilterBenchmark.java
  data-plane/benchmarks/src/main/java/dev/knative/eventing/kafka/broker/core/filter/AnyFilterBenchmark.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/filter/Filter.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/filter/subscriptionsapi/AllFilter.java
  data-plane/core/src/main/java/dev/knative/eventing/kafka/broker/core/filter/subscriptionsapi/AnyFilter.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/filter/subscriptionsapi/AllFilterTest.java
  data-plane/core/src/test/java/dev/knative/eventing/kafka/broker/core/filter/subscriptionsapi/AnyFilterTest.java
Labels: approved, size/M, lgtm, area/data-plane

#4356 Run keda obj deletion only if the feature was previously enabled, to avoid GET requests for KEDA resources against the API server on each reconcilation
  control-plane/pkg/apis/internalskafkaeventing/v1alpha1/consumer_group_lifecycle.go
  control-plane/pkg/apis/internalskafkaeventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/reconciler/consumergroup/consumergroup.go
Labels: approved, size/M, lgtm, area/control-plane

#4373 remove config-tracing ConfigMap
  control-plane/config/eventing-kafka-broker/200-controller/100-config-tracing.yaml
  hack/update-checksums.sh
Labels: approved, size/M, lgtm, ok-to-test, area/control-plane

#4382 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, size/L, skip-review

#4388 Enable new test for SASL keda
  test/e2e_new/broker_test.go
  test/e2e_new/kafka_source_test.go
Labels: approved, size/M, lgtm, area/test

#4099 Remove e2e test dependency on injection informers
  control-plane/pkg/reconciler/trigger/v2/triggerv2.go
  test/rekt/features/broker_deleted_recreated.go
Labels: approved, lgtm, size/S, area/control-plane, area/test

#4386 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/knative.dev/eventing/pkg/eventingtls/trust_bundle.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4390 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L, skip-review

#4165 [e2e] SASL/TLS with implicit CA Kafka Broker test
  test/e2e-common.sh
  test/e2e_new/broker_sasl_ssl_implicit_ca_test.go
  test/kafka/kafka-certificate.yaml
  test/kafka/kafka-ephemeral.yaml
  test/kafka/kafka_setup.sh
  test/pkg/run.go
  test/reconciler-tests.sh
  test/rekt/features/broker_auth.go
  test/rekt/resources/kafkaauthsecret/kafkaauthsecret.go
Labels: approved, lgtm, size/L, lifecycle/stale, area/test

#4394 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L, skip-review

#4396 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/apis/sources/v1/sinkbinding_lifecycle.go
  vendor/knative.dev/eventing/pkg/eventingtls/trust_bundle.go
  vendor/knative.dev/eventing/test/rekt/features/channel/eventing_tls_feature.go
  vendor/knative.dev/eventing/test/rekt/features/trigger/feature.go
  vendor/knative.dev/eventing/test/rekt/resources/configmap/config-features.yaml
  vendor/knative.dev/eventing/test/rekt/resources/configmap/configmap.go
  vendor/modules.txt
Labels: approved, lgtm, size/L
