Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2025-01, with the labels that each got.

#4151 [release-1.16] Upgrade eventing to latest 1.16
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-descheduler.yaml
  control-plane/config/eventing-kafka-broker/200-controller/100-config-kafka-scheduler.yaml
  control-plane/pkg/reconciler/consumergroup/controller.go
  go.mod
  go.sum
  test/config/sacura-sink-source/resources/200-config.yaml
  test/e2e-tests.sh
  test/e2e/sacura_test.go
  test/keda-reconciler-tests.sh
  test/reconciler-tests.sh
  test/upgrade-tests.sh
  vendor/knative.dev/eventing/hack/e2e-debug.sh
  vendor/knative.dev/eventing/pkg/scheduler/README.md
  vendor/knative.dev/eventing/pkg/scheduler/doc.go
  vendor/knative.dev/eventing/pkg/scheduler/factory/registry.go
  vendor/knative.dev/eventing/pkg/scheduler/placement.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/availabilitynodepriority/availability_node_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/availabilityzonepriority/availability_zone_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/evenpodspread/even_pod_spread.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/lowestordinalpriority/lowest_ordinal_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/podfitsresources/pod_fits_resources.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithavailabilitynodepriority/remove_with_availability_node_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithavailabilityzonepriority/remove_with_availability_zone_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithevenpodspreadpriority/remove_with_even_pod_spread_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/core/removewithhighestordinalpriority/remove_with_highest_ordinal_priority.go
  vendor/knative.dev/eventing/pkg/scheduler/plugins/kafka/nomaxresourcecount/no_max_resource_count.go
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/state/helpers.go
  vendor/knative.dev/eventing/pkg/scheduler/state/interface.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/autoscaler.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/scheduler.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/control-plane, area/test

#4202 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, lgtm, size/L, skip-review

#4205 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#4175 rewrite flaky broker_deleted_recreated
  test/rekt/features/broker_deleted_recreated.go
  test/rekt/features/sequence_assertions.go
Labels: approved, lgtm, size/L, area/test

#4207 feat: add updatescale method to generated clients for consumergroups
  control-plane/pkg/apis/internalskafkaeventing/v1alpha1/consumer_group_types.go
  control-plane/pkg/client/clientset/versioned/typed/internalskafkaeventing/v1alpha1/consumergroup.go
  control-plane/pkg/client/clientset/versioned/typed/internalskafkaeventing/v1alpha1/fake/fake_consumergroup.go
Labels: approved, lgtm, size/S, area/control-plane

#4209 Update upload-artifact action to v4
  .github/workflows/build-dependabot-pr.yaml
Labels: approved, size/XS, lgtm, area/test

#3872 Bump to 3.10.x Quarkus.io and align libraries
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
  data-plane/receiver-loom/src/main/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducer.java
  data-plane/receiver-loom/src/test/java/dev/knative/eventing/kafka/broker/receiverloom/LoomKafkaProducerTest.java
Labels: approved, lgtm, size/L, area/data-plane

#4213 [release-1.16] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/eventing/pkg/scheduler/scheduler.go
  vendor/knative.dev/eventing/pkg/scheduler/state/state.go
  vendor/knative.dev/eventing/pkg/scheduler/statefulset/autoscaler.go
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: approved, size/M, lgtm

#4215 Bump to Quarkus 3.12 and friends
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
Labels: approved, lgtm, size/L, area/data-plane

#4216 Update logback and logstash dependencies
  data-plane/THIRD-PARTY.txt
  data-plane/pom.xml
  data-plane/profiler/run.sh
Labels: approved, lgtm, size/S, area/data-plane

#4217 Use rhel/ubi9-openjdk21 runtime image for data plane containers
  data-plane/dispatcher-loom/pom.xml
  data-plane/receiver-loom/pom.xml
Labels: approved, size/XS, lgtm, area/data-plane

#4225 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#4228 Fix test image upload
  test/upload-test-images.sh
Labels: approved, lgtm, size/S, area/test

#4229 [release-1.17] Fix test image upload
  test/upload-test-images.sh
Labels: approved, lgtm, size/S, area/test

#4231 Remove broken symlinks
  control-plane/config/eventing-kafka-source/200-controller/100-config-kafka-descheduler.yaml
  control-plane/config/eventing-kafka-source/200-controller/100-config-kafka-scheduler.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#4237 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#4239 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review
