Repository knative-extensions/eventing-kafka-broker, pull requests merged in 2025-07, with the labels that each got.

#4431 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: approved, size/L, skip-review

#4442 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#4454 Update license files
  data-plane/THIRD-PARTY.txt
Labels: approved, lgtm, size/L, area/data-plane, area/control-plane

#4457 Cleanup invalid symlink
  control-plane/config/eventing-kafka-source/200-controller/100-config-tracing.yaml
Labels: approved, size/XS, lgtm, area/control-plane

#4450 [Automated] Update eventing-kafka-broker-eventing nightly
  third_party/eventing-latest/eventing-core.yaml
  third_party/eventing-latest/eventing-crds.yaml
Labels: size/L, skip-review

#4461 [data-plane] fix OffsetManager partitionRevokedHandler offset commit
  data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/consumer/OffsetManager.java
Labels: approved, size/M, lgtm, area/data-plane

#4465 Fix Keda Trigger SSL & SASL test to install broker only once
  test/keda-reconciler-tests.sh
  test/rekt/features/keda_scaling.go
Labels: approved, size/XS, lgtm, area/test
